.paginated-nav-links {
  margin-top: 90px;
  padding-top: 50px;
  position: relative;
  border-top: 1px solid #c1c4ca;
  }

.paginated-nav-link--prev, .paginated-nav-link--numbered, .paginated-nav-link--next {
  color: #9da2ab;
  transition-duration: 0.25s;
  transition-property: color; }
  .paginated-nav-link--prev:focus, .paginated-nav-link--prev:hover, .paginated-nav-link--prev.is-active, .paginated-nav-link--numbered:focus, .paginated-nav-link--numbered:hover, .paginated-nav-link--numbered.is-active, .paginated-nav-link--next:focus, .paginated-nav-link--next:hover, .paginated-nav-link--next.is-active {
    color: #141c22; }
  .paginated-nav-link--prev:focus, .paginated-nav-link--numbered:focus, .paginated-nav-link--next:focus {
    outline: none; }
  .paginated-nav-link--prev span, .paginated-nav-link--numbered span, .paginated-nav-link--next span {
    position: relative;
    top: -1px;
    text-transform: uppercase; }

.paginated-nav-link--prev {
  float: left; }
  .paginated-nav-link--prev span {
    margin-left: 5px; }

.paginated-nav-link--next {
  position: absolute;
  top: 50px;
  right: 0; }
  .paginated-nav-link--next:before, .paginated-nav-link--next span {
    float: right; }
  .paginated-nav-link--next:before {
    position: relative;
    top: 1px; }
  .paginated-nav-link--next span {
    margin-right: 7px; }

.paginated-nav-links--numbered-wrap {
  padding-top: 50px;
  position: relative; }

.paginated-nav-links--numbered {
  text-align: center; }

.paginated-nav-link--numbered {
  margin-right: 8px;
  margin-left: 8px; }

.pagination {
  margin-top: 90px;
  position: relative;
  width: 100%;
  overflow: auto;
  text-align: center; }
  .pagination a, .pagination em {
    margin-right: 8px;
    margin-left: 8px;
    font-style: normal; }
  .pagination a {
    color: #9da2ab;
    transition-duration: 0.25s;
    transition-property: color;
    outline: none; }
    .pagination a:hover, .pagination a:focus, .pagination a:active {
      color: #141c22; }
  .pagination .previous_page.disabled, .pagination .next_page.disabled {
    color: #9da2ab; }
    .pagination .previous_page.disabled:hover, .pagination .previous_page.disabled:focus, .pagination .previous_page.disabled:active, .pagination .next_page.disabled:hover, .pagination .next_page.disabled:focus, .pagination .next_page.disabled:active {
      color: #9da2ab; }
  .pagination .previous_page {
    position: absolute;
    left: 0; }
  .pagination .next_page {
    position: absolute;
    right: 0; }
