root=true

# line endings
end_of_line = lf
insert_final_newline = true
trim_trailing_whitespace = true

# indentation
indent_style = space
indent_size = 2

# allow formatting-specific whitespace in markdown
[*.md]
trim_trailing_whitespace = false
