*.rbc
*.rdb
*.sql
*.swp
*~
.apt-cache
.bundle
.sass-cache/
.vagrant
_site/
bench/
bin/
config/database.yml
config/librato.yml
config/rubygems.yml
db/*.sqlite3
log/*.log
pkg/
server/
tmp/
tags
.idea
chef
