*.rbc
*.rdb
*.sql
.bundle
.sass-cache/
_site/
bench/
config/database.yml
config/rubygems.yml
db/*.sqlite3
log/*.log
pkg/
reports/brakeman/*
server/
tmp/
tags
.idea
chef
.byebug_history
public/assets
latest_dump
coverage
REVISION
/.env*
/.pumaenv.local
/doc/erd.*
/app/assets/builds/*
!/app/assets/builds/.keep

# Vim swap/session/temp files
[._]*.s[a-v][a-z]
[._]*.sw[a-p]
[._]s[a-rt-v][a-z]
[._]ss[a-gi-z]
[._]sw[a-p]
*.swp
Session.vim
.netrwhist
*~

# CodeQL
codeql-db/
codeql-results.sarif
