services:
  db:
    image: postgres:13.14
    ports:
      - "5432:5432"
    environment:
      - POSTGRES_HOST_AUTH_METHOD=trust
  cache:
    image: memcached:1.4.24
    ports:
      - "11211:11211"
  search:
    image: opensearchproject/opensearch:2.13.0
    environment:
      - http.host=0.0.0.0
      - transport.host=127.0.0.1
      - plugins.security.disabled=true
    ports:
      - "9200:9200"
  toxiproxy:
    image: ghcr.io/shopify/toxiproxy:2.5.0
    network_mode: "host"
