<div class="flex flex-col gap-4 pt-2 lg:pt-10 pb-2 lg:pb-6">
  <h1 class="text-h3 font-semibold break-words text-neutral-900 dark:text-white"><%= @rubygem.name %></h1>

  <% if @rubygem.metadata_mfa_required? %>
    <p class="text-b4 text-neutral-800 dark:text-neutral-200"><span class="uppercase font-semibold"><%= t("rubygems.aside.requires_mfa") %></span>: true</p>
  <% end %>
</div>
