<% if dependencies.present? && @latest_version.indexed %>
  <div class="dependencies" id="<%= dependencies.first.scope %>_dependencies">
    <h5><%= t '.header', :title => dependencies.first.scope.titleize %></h5>
    <ol>
      <%= render :partial => "dependency", :collection => dependencies %>
    </ol>
  </div>
<% end %>
