<% if dependencies.present? %>
  <div class="dependencies" id="<%= dependencies.first.scope %>_dependencies">
    <h5><%= dependencies.first.scope.titleize %> Dependencies</h5>
    <ol>
    <% dependencies.each do |dependency| %>
      <li>
        <%= link_to "<strong>#{dependency.rubygem.name}</strong> #{dependency.requirements}", dependency.rubygem %>
      </li>
    <% end %>
    </ol>
  </div>
<% end %>
