<%= content_tag :span, class: 'github-btn', data: github_data_params do %>
  <a class="gh-btn" href="#" rel="noopener noreferrer" target="_blank">
    <span class="gh-ico" aria-hidden="true"></span>
    <span class="gh-text"></span>
  </a>
  <a class="gh-count" href="#" rel="noopener noreferrer" target="_blank" aria-hidden="true"></a>
<% end %>
