<li>
  <div class="downloads">
    <strong><%= rubygem.downloads %></strong>
    downloads
  </div>
  <a href="<%= rubygem_path(rubygem) %>">
    <strong><%= rubygem %></strong>
    <%= short_info(rubygem.versions.most_recent) %>
  </a>
</li>
