<div class="gem__navigation">
  <% if latest_version.previous.present? %>
    <%= link_to "← Previous version", rubygem_version_path(rubygem, latest_version.previous.number), class: "gem__previous__version"  %>
  <% end %>

  <% if latest_version.next.present? %>
    <%= link_to "Next version →", rubygem_version_path(rubygem, latest_version.next.number), class: "gem__next__version" %>
  <% end %>
</div>
