-@title = "edit gem"
-@subtitle = @gem.to_s
.grid_12
  %p All other fields can only be edited by pushing an updated version of your gem.
  =error_messages_for :linkset, :object_name => "gem"
  -form_for @gem.linkset, :url => rubygem_url(@gem), :method => :put do |form|
    .url_field
      =form.label :code, "Source Code URL"
      =form.text_field :code
    .url_field
      =form.label :docs, "Documentation URL"
      =form.text_field :docs
    .url_field
      =form.label :wiki, "Wiki URL"
      =form.text_field :wiki
    .url_field
      =form.label :mail, "Mailing List URL"
      =form.text_field :mail
    .url_field
      =form.label :bugs, "Bug Tracker URL"
      =form.text_field :bugs
    =form.submit 'Update', :disable_with => 'Please wait...'
