<% @title = t('.title') %>

<div class="gems__nav-links">
  <%= link_to_directory %>
</div>

<header class="gems__header">
  <p class="gems__meter">
    <%= page_entries_info @gems, :entry_name => 'gem', :model => 'gem' %>
  </p>
</header>

<%= render @gems %>

<%= will_paginate @gems %>
