<% @title = t('.title') %>

<div class="gems__nav-links">
  <% ("A".."Z").each do |letter| %>
    <%= link_to(letter, rubygems_path(letter: letter), class: "gems__nav-link") %>
  <% end %>
</div>

<header class="gems__header">
  <p class="gems__meter">
    <%= page_entries_info @gems, entry_name: 'gem', model: 'gem' %>
  </p>
</header>

<%= render @gems %>

<%= will_paginate @gems %>
