-@title = "migrate from rubyforge"
-@subtitle = ""
.grid_12
  %h3 Instructions
  %p.note
    In order for this to work your rubygem *must* have a rubyforge_project set in the gemspec. If it does not, please send an email to gems@gemcutter.org.
  %ol
    %li Log into your RubyForge Account.
    %li Go to your project, and click "News"
    %li Click Submit
    %li
      %p Fill in the Subject with this key:
      %p= @ownership.token
      %p The Details box isn't checked, but it requires at least 10 characters.
    %li And that's it! You can kick the process off by clicking here, or you can wait until it's done on a nightly basis.
