-@title = "create a gem"
-@subtitle = ""
.grid_12
  %p Creating a gem is easy! Just follow these simple steps:
  %ul
    %li Sign up for an account on Gemcutter.
    %li Create your gem. Get started with Jeweler.
    %li Make sure you're running RubyGems 1.3.3.
    %li Install the gemcutter gem with: <code>gem install gemcutter</code>
    %li Run <code>gem update</code> to switch over to gemcutter.
    %li Build your gem with: <code>gem build</code>
    %li Push it! <code>gem push yourgem-0.0.1.gem</code>
