<% @title, @title_url = @rubygem.name, rubygem_path(@rubygem) %>

<div id="markup">
  <%= simple_markup(@latest_version.info) %>
</div>

<div class="border">
  <div class="meta">
    <% if @rubygem.versions.size > 1 %>
      <div class="stat-versions">
        <%= select_tag :version_for_stats, options_for_select(stats_options(@rubygem), request.path) %>
      </div>
    <% end %>

    <div class="stats-graph">
      <%= downloads_over_time_chart(@versions) %>
    </div>
  </div>
</div>
