!!!
%html
  %head
    %link{:rel => "shortcut icon", :href => "/favicon.ico", :type => "image/x-icon"}
    %title= "templatr: share ur rails templates"
    %link{:rel => "stylesheet", :type => "text/css", :media => "all", :href => "css/reset.css"}
    %link{:rel => "stylesheet", :type => "text/css", :media => "all", :href => "css/960.css"}
    %link{:rel => "stylesheet", :type => "text/css", :media => "all", :href => "css/text.css"}
  %body
    %h1 gemcutter
    =yield
