<% @title = "Recent Uploads" %>

<div class="recent">
    <table class="recent__table">
      <% @recent_uploads.each do |version| %>
        <tr class="recent__table__row">
          <th class="recent__table__column">
            <%= link_to version.rubygem.name, rubygem_path(version.rubygem), class: 'gems__gem__name' %>
          </th>
          <td class="recent__table__column">
            <%= link_to version.number, rubygem_version_path(version.rubygem, version.slug), class: 'gems__gem__version' %>
          </td>
          <td class="recent__table__column">
            <span class="gem__version__date"><%= nice_date_for(version.rubygem.created_at) %></span>
          </td>
        </tr>
      <% end %>
    </table>
</div>
