body {
  background: #EFEFEF;
  color: #333333;
  font-family: Helvetica Neue,Helvetica,Arial,sans-serif;
}

a {
  text-decoration: none;
  color: #300000;
}

a:hover {
}

a:visited {
  color: #300000;
}

code, pre {
  font-family: Monaco,Deja Vu Sans Mono,Inconsolata,Consolas,monospace
}

ul { 
  list-style-image: none;
  list-style-position: outside;
  list-style-type: none;
}

li {
  margin-left: 0;
}

h1 {
  padding-top: 20px;
  font-size: 3em;
  font-weight: bold;
  margin-bottom: 0;
  float: left;
}

h2 {
  float: left;
  font-size: 1.4em;
  font-style: italic;
  color: #9a9a9a;
  margin-top: 44px;
  margin-left: 10px;
}

h3 {
}

.footer {
  margin-top: 10px;
  padding-top: 5px;
  border-top: 2px solid #333333;
  height: 30px;
}

.footer .watermark {
  float: right;
  margin-top: 3px;
}

.footer .watermark a {
  font-weight: bold;
  color: #300000;
  font-size: 1.1em;
}

.footer .watermark abbr {
  color: #9A9A9A;
}

.footer .info {
  float: left;
}

.footer .info a {
  border: none;
  text-align: center;
  font-weight: normal;
  color: #333333;
  font-size: 1.3em;
  margin-right: 10px;
}

.footer a:hover {
  text-decoration: underline;
}

.header {
  margin-bottom: 20px;
  border-bottom: 2px solid #333333;
  height: 80px;
}

.header .buttons {
  margin-top: 45px;
  float: right;
}

.header .buttons a {
  color: #9E2727;
  font-size: 1.3em;
  padding: 4px;
}

.header .buttons a:hover {
  background-color: #9E2727;
  color: #FFFFFF;
}

.header .buttons .actions {
  margin-right: 40px;
}

.header .buttons .account {
}

.header .buttons .search {
  margin-top: 12px;
}

.header .buttons .search input {
  background: #9a9a9a;
  border: none;
  color: #333333;
  font-size:1.3em;
  padding:0.3em;
  width:200px;
}

.started ul {
  margin-bottom: 0;
}

.started li {
  border-top: 1px solid #C2C2C2;
  font-size:2.0em;
  padding: 0.4em;
}
.started span {
  display: inline-block;
  width: 100px;
}

.started li.green, .green p, .green pre {
  background: #C8FFBF;
}

.started li.yellow, .yellow p {
  background: #FFF9BF;
}

.started li.red, .red p {
  background: #FFD1BF;
}

.list {
  margin-top: 20px;
}

.list li {
  background:#900000;
  border-top:1px solid #C2C2C2;
  color:#FFFFFF;
  font-size:1.3em;
  font-weight:bold;
  padding:0.3em;
}

.list li a {
  color: inherit;
  display: block;
}

.list li:hover {
  background:#600000;
  cursor: pointer;
}

.count {
  color: #9E2727;
  font-family: Monaco,Deja Vu Sans Mono,Inconsolata,Consolas,monospace;
  font-size: 5em;
  margin: 40px 0 0;
  text-align: center;
  line-height: 1.2em;
}

.what {
  text-align: center;
  font-weight: bold;
  text-align: center;
  text-align: center;
  font-size: 1.1em;
  margin-bottom: 50px;
}

.gems a {
  background:#900000;
  border-top:1px solid #C2C2C2;
  color:#FFFFFF;
  font-size:1.3em;
  font-weight:bold;
  padding:0.3em;
  display: block;
}

.gems a:hover {
  background:#600000;
  cursor: pointer;
}

.block p {
  padding:0.5em;
}

.block pre {
  padding:0.5em;
  font-size: 2em;
  text-align: center;
}


.block p a {
  display: block;
  color:#333333;
  font-size:1.0em;
  font-weight:bold;
}

.versions p {
  text-align: left;
}

.block p a .big {
}

.block p a .small {
  font-weight: normal;
  color: #666666;
}

.block p a:hover {
  text-decoration: underline;
}

label, .form_links {
  font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
  font-weight: 100;
  text-shadow: 0 0 4px #000000;
  display: block;
  font-size: 1.2em;
}

.form_links {
  float: right;
}

.form_links a {
  margin-left: 20px;
}

.form_links a:hover {
  text-decoration: underline;
}

.text_field,
.password_field,
.url_field {
  margin: 0 0 2em 0;
}

.text_field input,
.password_field input,
.url_field input {
  color: #FFFFFF;
  width: 900px;
  border: none;
  padding: .3em;
  font-size: 5em;
  background: #400000;
  border-bottom: .1em solid #c2c2c2;
  font-family: Georgia, "Times New Roman", Times, serif;
}

.url_field input  {
  font-size: 1.5em;
}

.password_field input{
  font-weight: bold;
}

.form_bottom label {
  display: inline;
  vertical-align: middle;
}

.form_bottom input[type='submit'] {
  margin-top: 10px;
  display: block;
}

.form_bottom {
  margin-bottom: 2em;
  float: left;
}

#flash_success, #flash_notice, #flash_error {
  font-weight: bold;
  left: 0;
  top: 0;
  padding: 5px 0;
  position: fixed;
  text-align: center;
  width: 100%;
  z-index: 100;
  color: #333333;
  display: none;
  border-bottom: solid 2px #333333;
}

#flash_success {
  background-color: #C8FFBF;
}

#flash_notice {
  background-color: #FFF9BF;
}

#flash_error {
  background-color: #FFD1BF;
}
