.help__section__heading {
  padding-bottom: 38px;
  font-weight: 300;
  text-align: center; }
  @media (max-width: 929px) {
    .help__section__heading {
      font-size: 24px; } }
  @media (min-width: 930px) {
    .help__section__heading {
      font-size: 30px; } }

.help__infos, .help__categories {
  border-bottom: 5px solid #f8f8f9; }

.help__infos {
  margin-bottom: 38px;
  padding-bottom: 30px; }

.help__info {
  padding-bottom: 30px; }

.help__categories {
  margin-bottom: 38px; }

.help__categories__category-wrap {
  padding-bottom: 30px;
  padding-left: 42px; }
  .help__categories__category-wrap:not(:first-of-type) {
    padding-top: 30px;
    border-top: 1px solid #c1c4ca; }
  @media (max-width: 779px) {
    .help__categories__category-wrap {
      padding-right: 42px; } }
  @media (min-width: 880px) {
    .help__categories__category-wrap {
      overflow: auto; } }

@media (min-width: 880px) {
  .help__categories__category {
    width: 62%;
    float: left; } }

.help__categories__category__heading {
  margin-bottom: 12px;
  display: block;
  font-weight: 600;
  font-size: 18px;
  color: #141c22;
  -webkit-transition-duration: 0.25s;
  -moz-transition-duration: 0.25s;
  -ms-transition-duration: 0.25s;
  -o-transition-duration: 0.25s;
  transition-duration: 0.25s;
  -webkit-transition-property: color;
  -moz-transition-property: color;
  -ms-transition-property: color;
  -o-transition-property: color;
  transition-property: color; }
  .help__categories__category__heading:hover {
    color: #fa3c29; }
  .help__categories__category__heading:before {
    margin-right: 10px;
    margin-left: -36px;
    display: inline-block;
    width: 26px;
    text-align: center; }

.help__categories__category__desc {
  margin-bottom: 8px;
  font-weight: 300;
  line-height: 1.66; }

.help__categories__category__more {
  margin-bottom: 28px;
  display: inline-block;
  font-style: italic;
  font-size: 12px; }

.help__categories__category__post {
  font-size: 12px;
  line-height: 1.5;
  color: #c1c4ca; }
  @media (min-width: 880px) {
    .help__categories__category__post {
      float: right;
      text-align: right; } }

.help__categories__category__post__heading {
  margin-bottom: 8px;
  font-weight: 400;
  text-transform: uppercase; }

.help__categories__category__post__time {
  font-weight: 500; }

.help__categories__category__post__author-wrap {
  font-style: italic; }

.help__section__desc {
  margin-right: auto;
  margin-bottom: 30px;
  margin-left: auto;
  width: 90%;
  max-width: 580px;
  font-weight: 300;
  line-height: 1.66;
  text-align: center; }

.help__staff {
  margin-bottom: 24px; }

@media (max-width: 779px) {
  .help__aside {
    margin-top: 48px;
    padding-top: 38px;
    border-top: 5px solid #f8f8f9; } }

.help__staff__avatar {
  position: absolute;
  height: 35px;
  width: 35px;
  border-radius: 16px;
  border-radius: 50%; }

.help__staff__name, .help__staff__desc {
  padding-left: 47px; }

.help__staff__name {
  line-height: 1.33;
  color: #141c22; }

.help__staff__desc {
  font-size: 12px;
  line-height: 1.5;
  color: #c1c4ca; }

.help__footer {
  margin-top: 90px;
  margin-bottom: -175px;
  padding-top: 90px;
  padding-bottom: 180px;
  overflow: auto;
  border-top: 1px solid white;
  box-shadow: 0 0 0 1px #c1c4ca;
  background-image: url("/light-bg.png");
  background-size: 3px; }

.help__footer__heading, .help__footer__date {
  font-weight: 400;
  font-size: 12px;
  line-height: 2;
  color: #c1c4ca; }

@media (max-width: 819px) {
  .help__footer__articles-wrap, .help__footer__discussions-wrap {
    max-width: 400px; } }
@media (min-width: 820px) {
  .help__footer__articles-wrap, .help__footer__discussions-wrap {
    width: 50%;
    float: left; } }

@media (min-width: 820px) {
  .help__footer__articles-wrap {
    padding-right: 60px; } }

@media (max-width: 819px) {
  .help__footer__discussions-wrap {
    padding-top: 48px; } }
@media (min-width: 820px) {
  .help__footer__discussions-wrap {
    padding-left: 60px;
    border-left: 1px solid #c1c4ca; } }

.help__footer__discussions {
  padding-left: 40px; }

.help__footer__heading {
  margin-bottom: 36px;
  text-transform: uppercase; }

.help__footer__title, .help__footer__title--problem, .help__footer__title--question, .help__footer__title--suggestion {
  margin-bottom: 24px;
  display: block;
  font-weight: 500;
  font-size: 15px;
  line-height: 1.66;
  color: #141c22;
  word-break: break-word;
  -webkit-transition-duration: 0.25s;
  -moz-transition-duration: 0.25s;
  -ms-transition-duration: 0.25s;
  -o-transition-duration: 0.25s;
  transition-duration: 0.25s;
  -webkit-transition-property: color;
  -moz-transition-property: color;
  -ms-transition-property: color;
  -o-transition-property: color;
  transition-property: color; }
  .help__footer__title:hover, .help__footer__title--problem:hover, .help__footer__title--question:hover, .help__footer__title--suggestion:hover {
    color: #fa3c29; }

.help__footer__title--problem:before, .help__footer__title--question:before, .help__footer__title--suggestion:before {
  margin-right: 20px;
  margin-left: -40px;
  display: inline-block;
  width: 20px;
  font-family: icomoon;
  font-size: 16px;
  text-align: center;
  color: #c1c4ca; }

.help__footer__title--problem:before {
  content: "⚐"; }

.help__footer__title--question:before {
  content: '"'; }

.help__footer__title--suggestion:before {
  content: "☼"; }

.help__form__legend {
  margin-bottom: 40px;
  font-weight: 600;
  font-size: 18px; }

.help__form__input, .help__form__textarea, .help__form__select {
  margin-bottom: 30px; }

.help__form__input, .help__form__textarea {
  -webkit-appearance: none;
  padding: 12px 50px 12px 16px;
  display: block;
  width: 100%;
  font-weight: 300;
  font-size: 18px;
  font-family: "aktiv-grotesk-std", sans-serif;
  border: 1px solid #f2f3f4;
  border-radius: 4px;
  box-shadow: inset 0 1px 1px -1px #c1c4ca;
  background-color: #f8f8f9;
  outline: none;
  -webkit-transition-duration: 0.25s;
  -moz-transition-duration: 0.25s;
  -ms-transition-duration: 0.25s;
  -o-transition-duration: 0.25s;
  transition-duration: 0.25s;
  -webkit-transition-property: border-color;
  -moz-transition-property: border-color;
  -ms-transition-property: border-color;
  -o-transition-property: border-color;
  transition-property: border-color; }
  .help__form__input::-webkit-input-placeholder, .help__form__textarea::-webkit-input-placeholder {
    color: #858a96; }
  .help__form__input:-moz-placeholder, .help__form__textarea:-moz-placeholder {
    color: #858a96; }
  .help__form__input::-moz-placeholder, .help__form__textarea::-moz-placeholder {
    color: #858a96; }
  .help__form__input:-ms-input-placeholder, .help__form__textarea:-ms-input-placeholder {
    color: #858a96; }
  .help__form__input:focus, .help__form__textarea:focus {
    border-color: #53a4e0; }

.help__form__input {
  max-width: 320px; }

.help__form__textarea {
  max-width: 640px;
  resize: none; }

.help__form__select-wrap {
  position: relative;
  width: 100%;
  max-width: 320px; }

.help__form__select {
  -webkit-appearance: none;
  padding: 12px 50px 12px 16px;
  position: relative;
  width: 100%;
  max-width: 320px;
  border: 3px solid #f8f8f9;
  background-color: transparent;
  font-weight: 300;
  font-size: 18px;
  font-family: "aktiv-grotesk-std", sans-serif;
  outline: none;
  z-index: 2;
  cursor: pointer;
  -webkit-transition-duration: 0.25s;
  -moz-transition-duration: 0.25s;
  -ms-transition-duration: 0.25s;
  -o-transition-duration: 0.25s;
  transition-duration: 0.25s;
  -webkit-transition-property: border-color;
  -moz-transition-property: border-color;
  -ms-transition-property: border-color;
  -o-transition-property: border-color;
  transition-property: border-color; }
  .help__form__select::-ms-expand {
    display: none; }
  .help__form__select:focus {
    border-color: #53a4e0; }
    .help__form__select:focus + .help__form__select__label {
      border-left-color: #53a4e0;
      color: #53a4e0; }

.help__form__select__label {
  padding-left: 15px;
  position: absolute;
  top: 4px;
  right: 20px;
  border-left: 3px solid #f8f8f9;
  font-size: 16px;
  line-height: 46px;
  color: #c1c4ca;
  z-index: 1;
  cursor: pointer;
  -webkit-transition-duration: 0.25s;
  -moz-transition-duration: 0.25s;
  -ms-transition-duration: 0.25s;
  -o-transition-duration: 0.25s;
  transition-duration: 0.25s;
  -webkit-transition-property: border-left-color, color;
  -moz-transition-property: border-left-color, color;
  -ms-transition-property: border-left-color, color;
  -o-transition-property: border-left-color, color;
  transition-property: border-left-color, color; }

.help__form__file {
  padding-top: 10px; }

.help__form__file__label {
  padding: 12px 50px 12px 66px;
  position: relative;
  display: block;
  width: 100%;
  max-width: 320px;
  overflow: hidden;
  border: 1px solid transparent;
  border-radius: 4px;
  background-color: #c1c4ca;
  font-size: 18px;
  text-overflow: ellipsis;
  color: #828894;
  cursor: pointer;
  white-space: nowrap;
  -webkit-transition-duration: 0.25s;
  -moz-transition-duration: 0.25s;
  -ms-transition-duration: 0.25s;
  -o-transition-duration: 0.25s;
  transition-duration: 0.25s;
  -webkit-transition-property: border-color;
  -moz-transition-property: border-color;
  -ms-transition-property: border-color;
  -o-transition-property: border-color;
  transition-property: border-color; }
  .help__form__file__label:before {
    position: absolute;
    top: 0;
    left: 0;
    width: 44px;
    background-color: #828894;
    font-size: 20px;
    line-height: 2.4;
    text-align: center;
    color: #c1c4ca;
    -webkit-transition-duration: 0.25s;
    -moz-transition-duration: 0.25s;
    -ms-transition-duration: 0.25s;
    -o-transition-duration: 0.25s;
    transition-duration: 0.25s;
    -webkit-transition-property: color;
    -moz-transition-property: color;
    -ms-transition-property: color;
    -o-transition-property: color;
    transition-property: color; }
  .help__form__file__label:hover:before {
    color: white; }

.help__form__file__input:focus + label:before {
  color: white; }

.help__form__checkbox {
  margin-top: 42px;
  padding-top: 26px;
  padding-bottom: 36px;
  display: block;
  border-top: 1px solid #c1c4ca;
  border-bottom: 5px solid #f8f8f9; }

.help__form__checkbox__label {
  position: relative;
  top: 5px;
  font-size: 18px;
  color: #a6aab2;
  cursor: pointer; }

.help__form__checkbox__input {
  -webkit-appearance: none;
  margin-right: 10px;
  height: 26px;
  width: 26px;
  float: left;
  border: 1px solid #f2f3f4;
  border: 0 none #f2f3f4 \0;
  border-radius: 4px;
  border-radius: 0\0;
  box-shadow: inset 0 1px 1px -1px #c1c4ca;
  box-shadow: none\0;
  background-color: #f8f8f9;
  background-color: transparent\0;
  outline: none;
  cursor: pointer;
  -webkit-transition-duration: 0.25s;
  -moz-transition-duration: 0.25s;
  -ms-transition-duration: 0.25s;
  -o-transition-duration: 0.25s;
  transition-duration: 0.25s;
  -webkit-transition-property: border-color;
  -moz-transition-property: border-color;
  -ms-transition-property: border-color;
  -o-transition-property: border-color;
  transition-property: border-color; }
  .help__form__checkbox__input:focus {
    border-color: #53a4e0; }
  .help__form__checkbox__input:checked:after {
    content: "✔";
    display: block;
    font-size: 14px;
    font-family: "icomoon";
    line-height: 1.8;
    text-align: center; }

.help__category__heading {
  margin-bottom: 24px; }

@media (max-width: 679px) {
  .help__category__desc-wrap {
    border-bottom: 5px solid #f8f8f9; } }
@media (min-width: 680px) {
  .help__category__desc-wrap {
    overflow: auto; } }

.help__category__desc {
  font-weight: 300;
  font-size: 18px;
  line-height: 1.66; }
  @media (max-width: 799px) {
    .help__category__desc {
      margin-bottom: 24px; } }
  @media (min-width: 800px) {
    .help__category__desc {
      margin-bottom: 40px;
      float: left; } }
  @media (min-width: 800px) and (max-width: 919px) {
    .help__category__desc {
      width: 55%; } }
  @media (min-width: 920px) {
    .help__category__desc {
      width: 60%; } }

.help__discussions-wrap {
  border-collapse: collapse;
  text-align: left; }

@media (max-width: 679px) {
  .help__discussions__header {
    display: none; } }
@media (min-width: 680px) {
  .help__discussions__header {
    border-width: 5px;
    border-top-style: solid;
    border-bottom-style: solid;
    border-color: #f8f8f9; } }

@media (min-width: 680px) {
  .help__discussions__heading:nth-child(1), .help__discussion__title-wrap {
    width: 42%; } }

@media (min-width: 680px) {
  .help__discussions__heading:nth-child(2), .help__discussions__heading:nth-child(3), .help__discussion__state, .help__discussion__replies {
    width: 16%; } }

.help__discussions__heading {
  font-weight: 400;
  font-size: 15px;
  line-height: 40px;
  text-transform: uppercase; }

@media (max-width: 679px) {
  .help__discussions, .help__discussion, .help__discussion__title-wrap, .help__discussion__state, .help__discussion__replies, .help__discusssion__latest-post-wrap {
    display: block; } }

.help__discussion {
  border-bottom: 1px solid #c1c4ca; }
  @media (min-width: 680px) {
    .help__discussion {
      height: 100px; } }

.help__discussion__title-wrap {
  padding-top: 27px;
  padding-bottom: 27px; }
  @media (min-width: 680px) {
    .help__discussion__title-wrap {
      padding-right: 60px; } }

.help__discussion__title {
  margin-bottom: 5px;
  display: block;
  font-weight: 800;
  color: #fa3c29;
  -webkit-transition-duration: 0.25s;
  -moz-transition-duration: 0.25s;
  -ms-transition-duration: 0.25s;
  -o-transition-duration: 0.25s;
  transition-duration: 0.25s;
  -webkit-transition-property: color;
  -moz-transition-property: color;
  -ms-transition-property: color;
  -o-transition-property: color;
  transition-property: color; }
  @media (max-width: 679px) {
    .help__discussion__title {
      font-size: 18px; } }
  @media (min-width: 680px) {
    .help__discussion__title {
      font-size: 15px; } }
  .help__discussion__title:hover {
    color: rgba(250, 60, 41, 0.7); }

.help__discussion__author {
  font-weight: 300;
  line-height: 1.33;
  color: #c1c4ca; }

.help__discussion__state {
  font-weight: 800;
  text-transform: uppercase; }
  @media (max-width: 679px) {
    .help__discussion__state {
      margin-bottom: 5px; } }
  .help__discussion__state.is-open {
    color: #4fcc9c; }
  .help__discussion__state.is-resolved {
    color: #c1c4ca; }

@media (max-width: 679px) {
  .help__discussion__replies {
    margin-bottom: 5px; }
    .help__discussion__replies:after {
      content: " Replies"; } }

.help__discusssion__latest-post-wrap {
  color: #c1c4ca; }

.help__discussion__latest-post__datetime {
  margin-bottom: 5px; }
  @media (max-width: 679px) {
    .help__discussion__latest-post__datetime span:not(:last-child):after {
      content: "";
      margin-right: 12px;
      margin-left: 12px;
      position: relative;
      top: -4px;
      display: inline-block;
      height: 3px;
      width: 3px;
      border-radius: 3px;
      background-color: #c1c4ca; } }
  @media (min-width: 680px) and (max-width: 999px) {
    .help__discussion__latest-post__datetime span {
      display: block; } }
  @media (min-width: 1000px) {
    .help__discussion__latest-post__datetime span:not(:last-child):after {
      content: "";
      margin-right: 12px;
      margin-left: 12px;
      position: relative;
      top: -4px;
      display: inline-block;
      height: 3px;
      width: 3px;
      border-radius: 3px;
      background-color: #c1c4ca; } }

@media (max-width: 679px) {
  .help__discussion__latest-post__author {
    margin-bottom: 27px; } }

.help__discussion__latest-post__author__link {
  font-weight: 800;
  color: #141c22;
  -webkit-transition-duration: 0.25s;
  -moz-transition-duration: 0.25s;
  -ms-transition-duration: 0.25s;
  -o-transition-duration: 0.25s;
  transition-duration: 0.25s;
  -webkit-transition-property: color;
  -moz-transition-property: color;
  -ms-transition-property: color;
  -o-transition-property: color;
  transition-property: color; }
  .help__discussion__latest-post__author__link:hover {
    color: #fa3c29; }
