#clippy, #github_clippy {
  position: absolute;
  top: 0;
  right: 0;
}

#clippy embed, #github_clippy embed {
  position: absolute;
  top: 18px;
  right: 0;
}

.pagination {
  margin-top: 90px;
  position: relative;
  overflow: auto;
  text-align: center;}

.pagination .previous_page {
  position: absolute;
  left: 0; }

.pagination .next_page {
  position: absolute;
  right: 0; }

.pagination a, .pagination em {
  margin-right: 8px;
  margin-left: 8px;
  font-style: normal; }

.pagination a {
  color: #9da2ab;
  -webkit-transition-duration: 0.25s;
  -moz-transition-duration: 0.25s;
  -ms-transition-duration: 0.25s;
  -o-transition-duration: 0.25s;
  transition-duration: 0.25s;
  -webkit-transition-property: color;
  -moz-transition-property: color;
  -ms-transition-property: color;
  -o-transition-property: color;
  outline: none;
}

.pagination a:hover, .pagination a:focus, .pagination a:active {
  color: #141c22;
}

.push {
  margin-top: 60px;
}
