.dashboard {
  width: 100%;
  overflow: auto; }

.dashboard__gems {
  margin-top: -30px; }

.dashboard__updates {
  margin-top: 3px;
  margin-bottom: 30px;
  font-weight: 800;
  font-size: 12px;
  text-transform: uppercase;
  color: #c1c4ca; }

.dashboard__gem {
  padding-top: 30px;
  padding-bottom: 30px;
  display: block;
  border-bottom: 1px solid #c1c4ca;
  color: #141c22; }
  .dashboard__gem:hover .dashboard__gem__name {
    color: #fa3c29; }

.dashboard__gem__info {
  margin-bottom: 6px; }

.dashboard__gem__name {
  font-weight: 800;
  font-size: 18px;
  -webkit-transition-duration: 0.25s;
  -moz-transition-duration: 0.25s;
  -ms-transition-duration: 0.25s;
  -o-transition-duration: 0.25s;
  transition-duration: 0.25s;
  -webkit-transition-property: color;
  -moz-transition-property: color;
  -ms-transition-property: color;
  -o-transition-property: color;
  transition-property: color; }

.dashboard__gem__version {
  margin-left: 10px;
  font-weight: 300;
  font-size: 18px;
  color: #a6aab2; }

.password-reset {
  padding-top: 50px;
  font-weight: 300;
  font-size: 18px;
  line-height: 1.66; }

.profile__header {
  padding-bottom: 40px;
  width: 100%;
  overflow: auto;
  border-bottom: 1px solid #c1c4ca; }
  @media (max-width: 779px) {
    .profile__header {
      padding-top: 18px; } }
  @media (min-width: 780px) {
    .profile__header {
      padding-top: 60px; } }

@media (min-width: 600px) {
  .profile__header__name-wrap {
    float: left;
    width: 70%; } }

.profile__header__name {
  word-break: break-word; }
  @media (min-width: 780px) {
    .profile__header__name {
      padding-top: 16px; } }
  @media (min-width: 780px) {
    .profile__header__name {
      padding-left: 195px; } }

@media (max-width: 779px) {
  .profile__header__avatar {
    display: none; } }
@media (min-width: 780px) {
  .profile__header__avatar {
    margin-right: 45px;
    height: 150px;
    width: 150px;
    float: left;
    border-radius: 50%; } }

.profile__header__email {
  padding-top: 10px;
  display: inline-block; }
  .profile__header__email:before {
    margin-right: 9px;
    position: relative;
    top: 1px; }

@media (max-width: 599px) {
  .profile__downloads-wrap {
    padding-top: 32px;
    width: 100%;
    float: left; } }
@media (min-width: 600px) {
  .profile__downloads-wrap {
    float: right;
    text-align: right; } }
@media (min-width: 780px) {
  .profile__downloads-wrap {
    padding-top: 32px; } }
