.profile__header {
  padding-top: 60px;
  padding-bottom: 40px;
  width: 100%;
  overflow: auto;
  border-bottom: 1px solid #c1c4ca; }

@media (min-width: 600px) {
  .profile__header__name-wrap {
    float: left;
    width: 70%; } }

.profile__header__name {
  word-break: break-word; }
  @media (min-width: 600px) {
    .profile__header__name {
      padding-top: 16px; } }
  @media (min-width: 780px) {
    .profile__header__name {
      padding-left: 195px; } }

@media (max-width: 779px) {
  .profile__header__avatar {
    display: none; } }
@media (min-width: 780px) {
  .profile__header__avatar {
    margin-right: 45px;
    height: 150px;
    width: 150px;
    float: left;
    border-radius: 50%; } }

.profile__header__email {
  padding-top: 10px;
  display: inline-block; }
  .profile__header__email:before {
    margin-right: 9px;
    position: relative;
    top: 1px; }

.profile__downloads-wrap {
  padding-top: 32px; }
  @media (max-width: 599px) {
    .profile__downloads-wrap {
      width: 100%;
      float: left; } }
  @media (min-width: 600px) {
    .profile__downloads-wrap {
      float: right;
      text-align: right; } }
