body {
  line-height: 1;
}

ol, ul {
  list-style: none;
}

blockquote, q {
  quotes: none;
}

blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none;
}

a {
  text-decoration: none;
  color: #300000;
}

a:hover {
}

a:visited {
  color: #300000;
}

/* remember to define focus styles! */
:focus {
  outline: 0;
}

/* remember to highlight inserts somehow! */
ins {
  text-decoration: none;
}
del {
  text-decoration: line-through;
}

/* tables still need 'cellspacing="0"' in the markup */
table {
  border-collapse: collapse;
  border-spacing: 0;
}

body {
  font-size: .625em;
  background: #340505 url(/images/top.png) repeat-x;
  font-family: Arial, sans-serif;
}

.header h1 {
  display: inline-block;
  vertical-align: middle;
  padding-top: 3em;
}

.header h1 a {
  display: block;
  width: 214px;
  height: 50px;
  text-indent: -9999px;
  text-decoration: none;
  background: url(/images/logo.png)

}

.nav {
  text-align: right;
  padding-top: 2.0em;
}

.nav ul {
  display: block;
  vertical-align: middle;
  margin-bottom: 10px;
}

.nav ul li {
  font-size: 1.5em;
  font-weight: 900;
  display: inline;
}

.nav ul li a {
  color: #EEE;
  padding: 7px;
  text-decoration: none;
  text-shadow: 0 0 10px #000;
  -moz-border-radius: 10px;
  -webkit-border-radius: 10px;
  margin-top: 5px;
}

.nav ul li a:hover {
  text-decoration: none;
  background: rgba(0,0,0,.2);
}

.nav form {
}

.nav form div {
  display: inline;
}

.nav form .text_field input {
  color: #28221e;
  width: 300px;
  border: none;
  padding: 0.5em;
  font-size: 1.5em;
  font-weight: bold;
  font-family: "Myriad Pro", "Lucida Grande", Helvetica, Tahoma, sans-serif;
  -moz-border-radius: 8px;
  -webkit-border-radius: 10px;
  background: #e9e4d1 url(/images/instructions.png) repeat-x scroll 0 -2px;
  margin-top: 7px;
}

.section {
 /* background: url(/images/section.png) 0 0 repeat-x;*/
  padding: 2.4em;
  color: #EEE;
  margin-top: 20px;
}

.section .seller {
  height: 70px;
}

.section .seller .count {
  float: left;
  width: 30%;
  font-size: 1.3em;
  padding-top: 0.2em;
}

.section .seller .count strong {
  font-size: 2em;
  padding-bottom: 5px;
  display: block;
}

.section .seller .blurb {
  text-align: right;
  float: right;
  font-size: 1.6em;
  line-height: 1.5;
  margin: 0 0 1.5em 0;
  width: 70%;
}

.section p,
.section ol,
.section .seller .blurb {
  font-size: 1.6em;
  line-height: 1.5;
}

.section .info {
  background: #ebe3d1;
  border: 5px solid #cbc2ae;
  -moz-border-radius: 10px;
  -webkit-border-radius: 10px;
}

.section .info ol.instructions {
  border: 1px solid #b4ac99;
  margin-top: 36px;
  margin-left: 36px;
  margin-right: 36px;
  font-size: 2.4em;
  text-shadow: 1px 1px 1px rgba(255,255,255,0.2);
  background: #FFF;
}

.section .info ol.instructions li {
  background: #FD6;
  background-image: url(/images/instructions.png);
  background-repeat: repeat-x;
  line-height: 4em;
  color: rgba(0,0,0,.8);
  margin: .75em;
  border: 1px solid rgba(0,0,0,.2);
  border-top: none;
  height: 4em;
}

.section .info ol.instructions li:first-child {
  background-color: #D44;
}

.section .info ol.instructions li:last-child {
  background-color: #AD4;
}

.section .info ol.instructions li strong {
  text-transform: lowercase;
  font-variant: small-caps;
  font-weight: bold;
  width: 100px;
  text-align: right;
  margin:  0 1em 0 0;
  float: left;
  line-height: 4.2em;
}

.section .info ol.instructions li span {
  float: left;
  font-size: 1.5em;
  line-height: 2.7em;
}

.section .info ol.instructions li span + span {
  font-family: Monaco, Courier, monospace;
  margin: 0 0 0 1em;
  float: left;
  font-size: 1em;
  line-height: 4.2em;
}

.section .info p {
  color: #5e543e;
  margin: 1.5em 36px;
}

.section .info .pitch {
  font-size: 1.4em;
}

.section .info .leaderboards {
  border-top: 2px solid #BCB29A;
  padding-top: 24px;
  margin-top: 24px;
  margin-left: 36px;
  margin-right: 36px;
  height: 250px;
}

.section .info .leaderboards h4 {
  font-weight: 900;
  font-size: 1.8em;
  color: #000;
  padding-bottom: 10px;
}

.section .info .leaderboards ol {
}

.section .info .leaderboards .grid_3:first-child,
.section .info .leaderboards .grid_3:last-child {
  margin: 0;
}

.section .info .leaderboards .grid_3 {
  margin: 0 15px;
}

.section .info .leaderboards ol li {
  border-top: 1px solid #B4AC99;
  border-right: 1px solid #B4AC99;
  border-left: 1px solid #B4AC99;
  background: #FDF5E4;
  padding: 5px;
}

.section .info .leaderboards ol li:last-child {
  border-bottom: 1px solid #B4AC99;
}

.section .info .leaderboards ol li a {
  background: #ECE5D6;
  padding: 3px;
  font-size: 0.9em;
  color: rgba(0, 0, 0, 0.8);
  display: block;
}

.section .info .leaderboards ol li a:hover {
  background: #DD4444;
  color: #fff;
}

.footer .links {
  margin-top: 10px;
  padding-top: 10px;
  border-top: 1px solid #9E8686;
  height: 30px;
}

.footer .links a {
  border: none;
  text-align: center;
  font-weight: normal;
  color: #9E8686;
  font-size: 1.5em;
  margin-right: 10px;
}

.footer a:hover {
  text-decoration: underline;
}
