body {
  line-height: 1;
}
ol, ul {
  list-style: none;
}
blockquote, q {
  quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none;
}

/* remember to define focus styles! */
:focus {
  outline: 0;
}

/* remember to highlight inserts somehow! */
ins {
  text-decoration: none;
}
del {
  text-decoration: line-through;
}

/* tables still need 'cellspacing="0"' in the markup */
table {
  border-collapse: collapse;
  border-spacing: 0;
}

body {
  font-size: .625em;
  background: #340505 url(/images/top.png) repeat-x;
  font-family: Arial, sans-serif;
}

.header h1 {
  padding: 1em 0;
  color: #EEE;
  font-size: 3.6em;
  font-weight: 100;
  font-family: Myriad Pro, Lucida Grande;
  text-shadow: 0 0 10px #000;
  display: inline-block;
  vertical-align: middle;
}

.header h1 a {
  color: #EEE;
  text-decoration: none;
}

.nav {
  text-align: right;
  padding-top: 4.5em;
}

.nav ul {
  display: inline-block;
  vertical-align: middle;
  /*margin-left: 10em;*/
}

.nav ul li {
  font-size: 1.8em;
  font-weight: 900;
  display: inline;
}

.nav ul li a {
  color: #EEE;
  padding: 2.6em 0.6em;
  text-decoration: none;
  text-shadow: 0 0 10px #000;
}

.nav ul li a:hover {
  text-decoration: underline;
  background: rgba(0,0,0,.3);
}

.nav form {
  /* float: right; */
  margin-left: 2em;
  text-align: right;
  display: inline-block;
  vertical-align: middle;
}

.nav form div {
  display: inline;
}

.nav form .text_field input {
  width: 180px;
  background: #e9e4d1;
  border: none;
  padding: .5em;
  color: #28221e;
}

.section {
 /* background: url(/images/section.png) 0 0 repeat-x;*/
  padding: 2.4em;
  color: #EEE;
}

.section .seller {
  height: 70px;
}

.section .seller .count {
  float: left;
  width: 30%;
  font-size: 1.3em;
  padding-top: 0.4em;
}

.section .seller .count strong {
  font-size: 2em;
  display: block;
}

.section .seller .blurb {
  float: right;
  font-size: 1.6em;
  line-height: 1.5;
  margin: 0 0 1.5em 0;
  width: 70%;
}

.section p,
.section ol,
.section .seller .blurb {
  font-size: 1.6em;
  line-height: 1.5;
  margin: 0 0 1.5em 0;
}

.section .info {
  background: #ebe3d1;
  border: 5px solid #cbc2ae;
  -moz-border-radius: 10px;
  -webkit-border-radius: 10px;
}

.section .info ol.instructions {
  border: 1px solid #b4ac99;
  margin: 36px;
  font-size: 2.4em;
  text-shadow: 1px 1px 1px rgba(255,255,255,0.2);
  background: #FFF;
}

.section .info ol.instructions li {
  background: #FD6;
  background-image: url(/images/instructions.png);
  background-repeat: repeat-x;
  line-height: 4em;
  color: rgba(0,0,0,.8);
  margin: .75em;
  border: 1px solid rgba(0,0,0,.2);
  border-top: none;
}

.section .info ol.instructions li:first-child {
  background-color: #D44;
}

.section .info ol.instructions li:last-child {
  background-color: #AD4;
}

.section .info ol.instructions li strong {
  text-transform: lowercase;
  font-variant: small-caps;
  font-weight: bold;
  width: 100px;
  display: inline-block;
  text-align: right;
  margin:  0 1em 0 0;
}

.section .info ol.instructions li span {
  font-family: Monaco, Courier, monospace;
  margin: 0 0 0 1em;
}

.section .info p {
  color: #5e543e;
  margin: 1.5em 36px;
}
