@media (max-width: 899px) {
  .uptime__table {
    margin-bottom: 48px; } }
@media (min-width: 900px) {
  .uptime__table {
    margin-bottom: 96px; } }

@media (max-width: 529px) {
  .uptime__table__header {
    margin-bottom: 30px;
    padding-bottom: 10px;
    border-bottom: 1px solid #c1c4ca; } }
@media (min-width: 530px) {
  .uptime__table__header {
    padding-bottom: 40px;
    overflow: auto; } }

@media (max-width: 529px) {
  .uptime__table__header__dates {
    display: none; } }

.uptime__table__header__gem, .uptime__table__header__date, .uptime__table__main__date {
  font-size: 12px;
  text-transform: uppercase;
  color: #c1c4ca; }

.uptime__table__header__gem, .uptime__table__main__gem {
  font-weight: 600; }
  @media (min-width: 530px) {
    .uptime__table__header__gem, .uptime__table__main__gem {
      float: left;
      width: 30%; } }

.uptime__table__header__date, .uptime__table__main__uptime {
  float: left;
  width: 10%;
  text-align: center; }

.uptime__table__gem {
  overflow: auto; }
  .uptime__table__gem:not(:first-child) {
    padding-top: 40px; }
  .uptime__table__gem:not(:last-child) {
    border-bottom: 1px solid #c1c4ca; }
  @media (max-width: 529px) {
    .uptime__table__gem {
      padding-bottom: 30px; } }
  @media (min-width: 530px) {
    .uptime__table__gem {
      padding-bottom: 40px; } }

.uptime__table__main__gem {
  position: relative; }
  @media (max-width: 529px) {
    .uptime__table__main__gem {
      margin-bottom: 16px; } }
  @media (max-width: 699px) {
    .uptime__table__main__gem {
      font-size: 18px; } }
  @media (min-width: 530px) and (max-width: 699px) {
    .uptime__table__main__gem {
      top: 4px; } }
  @media (min-width: 700px) and (max-width: 899px) {
    .uptime__table__main__gem {
      font-size: 24px; } }
  @media (min-width: 900px) {
    .uptime__table__main__gem {
      top: -4px;
      font-size: 30px; } }

@media (max-width: 529px) {
  .uptime__table__main__uptime {
    width: calc(100% / 7); } }

@media (max-width: 399px) {
  .uptime__table__main__date {
    font-size: 10px; } }
@media (max-width: 529px) {
  .uptime__table__main__date {
    margin-bottom: 6px;
    display: block; } }
@media (min-width: 530px) {
  .uptime__table__main__date {
    display: none; } }

.uptime__definitions {
  max-width: 640px;
  border: 1px solid #c1c4ca;
  border-radius: 3px;
  background-image: url("/light-bg.png");
  background-size: 3px; }
  @media (max-width: 529px) {
    .uptime__definitions {
      padding: 20px 20px 20px 55px; } }
  @media (min-width: 530px) {
    .uptime__definitions {
      padding: 38px 30px 38px 70px; } }
  @media (max-width: 999px) {
    .uptime__definitions {
      margin-bottom: 40px; } }
  @media (min-width: 1000px) {
    .uptime__definitions {
      width: 70%;
      float: left; } }

@media (max-width: 599px) {
  .uptime__definition:not(:last-of-type) {
    margin-bottom: 24px; } }
@media (min-width: 600px) {
  .uptime__definition:not(:last-of-type) {
    margin-bottom: 48px; } }

.uptime__definition__title--normal, .uptime__definition__title--disruption, .uptime__definition__title--outage, .uptime__definition__title--no-data {
  font-weight: 500; }
  @media (max-width: 599px) {
    .uptime__definition__title--normal, .uptime__definition__title--disruption, .uptime__definition__title--outage, .uptime__definition__title--no-data {
      margin-bottom: 4px; } }
  @media (min-width: 600px) {
    .uptime__definition__title--normal, .uptime__definition__title--disruption, .uptime__definition__title--outage, .uptime__definition__title--no-data {
      margin-bottom: 18px; } }

.uptime__definition__desc {
  font-style: italic;
  font-weight: 300;
  line-height: 1.66;
  color: #a6aab2; }

@media (min-width: 1000px) {
  .uptime__credits {
    padding-left: 60px;
    display: inline-block;
    width: 30%; } }

@media (max-width: 599px) {
  .uptime__credit:not(:last-child) {
    margin-bottom: 16px; } }
@media (min-width: 600px) {
  .uptime__credit:not(:last-child) {
    margin-bottom: 32px; } }
