<% @title = "Sign up" %>

<div class="form_links sign_up_links t-body">
  <p><%= link_to t('.have_account'), sign_in_path %></p>
</div>

<%= form_for @user do |form| %>
  <%= render partial: '/users/form', object: form %>
  <%= form.submit 'Sign up', data: {disable_with: t('form_disable_with')}, class: 'form__submit' %>
<% end %>
