<div class="mt-8 pt-8 border-t border-neutral-200 dark:border-neutral-800">
  <h2 class="text-b1 font-semibold text-neutral-900 dark:text-white mb-2"><%= t("multifactor_auths.prompt.security_device") %></h2>
  <p class="mb-4 text-b3 text-neutral-700 dark:text-neutral-300"><%= t("multifactor_auths.prompt.webauthn_credential_note") %></p>

  <%= form_tag @webauthn_verification_url, method: :post, class: "js-webauthn-session--form", data: { options: @webauthn_options.to_json } do %>
    <p hidden class="js-webauthn-session--error mb-3 text-b3 text-red-600 dark:text-red-400"></p>
    <%= submit_tag t("multifactor_auths.prompt.sign_in_with_webauthn_credential"),
      class: "js-webauthn-session--submit inline-flex items-center justify-center rounded text-white bg-orange-500 " \
      "px-4 h-12 min-h-12 text-b2 cursor-pointer hover:bg-orange-600 active:bg-orange-600 " \
      "dark:bg-orange-500 dark:hover:bg-orange-700 dark:active:bg-orange-700 transition focus:outline-none" %>
  <% end %>
</div>
