<% @title = t("multifactor_authentication") %>

<%= form_tag @form_url, method: :post do %>
  <div class="text_field">
    <%= label_tag :otp, t("multifactor_auths.otp_code"), class: "form__label" %>
    <%= text_field_tag :otp, "", class: "form__input", autofocus: true, autocomplete: :off %>
  </div>
  <div class="form_bottom">
    <%= submit_tag t("authenticate"), data: {disable_with: t("form_disable_with")}, class: "form__submit" %>
  </div>
<% end %>
