<% @title = t('.title') %>

<div class="t-body">
  <ul id="recovery-code-list">
    <% current_user.mfa_recovery_codes.each do |code| %>
      <li class="recovery-code-list__item"><%= code %></li>
    <% end %>
  </ul>
  <p><%= t '.note' %></p>
  <p><%= link_to t('.continue'), edit_profile_path %></p>
</div>
