<div class="flex-1 flex p-4">
  <div class="place-self-end">
    <p>
      You are currently logged in as <%= link_to _current_user.login, avo.resources_admin_github_user_path(_current_user) %>
    </p>
  </div>
</div>
