<ol class="t-list__items">
  <li class="t-list__item">
    <h3 class="gems__gem__name">
      <%= yield adoption %>
    </h3>
    <div clas="t-body">
      <div id="markup" class="gem__desc">
        <%= simple_markup(adoption.note) %>
      </div>
    </div>
  </li>
</ol>
