<div class="t-body">
  <p>Owner(s) of <%= @rubygem.name %> are not looking for maintainers. You can still request an adoption if
  you feel gem namespace could be of greater service with your ownership and you can convince
  existing owner(s) of the gem of the same.
  We will notify owner(s) of <%= @rubygem.name %> with your adoption note, you can fill below.
  </p>
</div>
