<div clas="t-body">
  <div id="markup" class="gem__desc">
    <%= simple_markup(adoption.note) %>
  </div>

  <%= render(
    partial: "adoptions/edit",
    locals: {
      status: "approved",
      button_text: t("adoptions.index.approve"),
      adoption: adoption
    }) if current_user&.can_approve? adoption %>

  <%= render(
    partial: "adoptions/edit",
    locals: { status: "canceled", button_text: t("adoptions.index.cancel"), adoption: adoption }
    ) if current_user&.can_cancel?(adoption) %>
</div>
