body {
  background: #EFEFEF;
  color: #333333;
  font-family: Helvetica Neue,Helvetica,Arial,sans-serif;
}

a {
  text-decoration: none;
  color: #300000;
}

a:hover {
}

a:visited {
  color: #300000;
}

code, pre {
  font-family: Monaco,Deja Vu Sans Mono,Inconsolata,Consolas,monospace
}

ul { 
  list-style-image: none;
  list-style-position: outside;
  list-style-type: none;
}

li {
  margin-left: 0;
}

h1 {
  padding-top: 20px;
  font-size: 3em;
  font-weight: bold;
  margin-bottom: 0;
  float: left;
}

h2 {
  float: left;
  font-size: 1em;
  font-style: italic;
  color: #9a9a9a;
  margin-top: 49px;
  margin-left: 10px;
}

h3 {
  margin-top: 20px;
}

.footer {
  padding-top: 5px;
  border-top: 2px solid #333333;
}

.footer a {
  border: none;
  text-align: center;
  font-weight: normal;
  color: #333333;
  font-size: 1.3em;
  margin-right: 10px;
}

.footer a:hover {
  text-decoration: underline;
}

.header {
  margin-bottom: 20px;
  border-bottom: 2px solid #333333;
  height: 80px;
}

.header .buttons {
  margin-top: 45px;
  float: right;
}

.header .buttons a {
  color: #9E2727;
  font-size: 1.3em;
  padding: 4px;
}

.header .buttons a:hover {
  background-color: #9E2727;
  color: #FFFFFF;
}

.header .buttons .actions {
  margin-right: 40px;
}

.header .buttons .account {
}

.header .buttons .search {
  margin-top: 12px;
}

.header .buttons .search input {
  background: #9a9a9a;
  border: none;
  color: #333333;
  font-size:1.3em;
  padding:0.3em;
  width:200px;
}

.started ul {
  margin-bottom: 0;
}

.started li {
  border-top: 1px solid #C2C2C2;
  font-size:2.0em;
  padding: 0.4em;
}
.started span {
  display: inline-block;
  width: 100px;
}

.started li.green {
  background: #C8FFBF;
}

.started li.yellow {
  background: #FFF9BF;
}

.started li.red {
  background: #FFD1BF;
}

.latest li {
  background:#9E2727;
  border-top:1px solid #C2C2C2;
  color:#FFFFFF;
  font-size:1.3em;
  font-weight:bold;
  padding:0.3em;
}

.latest li:hover {
  background:#600000;
  cursor: pointer;
}

.count {
  color: #9E2727;
  font-family: Monaco,Deja Vu Sans Mono,Inconsolata,Consolas,monospace;
  font-size: 5em;
  margin: 40px 0 0;
  text-align: center;
  line-height: 1.2em;
}

.what {
  text-align: center;
  font-weight: bold;
  text-align: center;
  text-align: center;
  font-size: 1.1em;
  margin-bottom: 50px;
}

.gems a {
  background:#9E2727;
  border-top:1px solid #C2C2C2;
  color:#FFFFFF;
  font-size:1.3em;
  font-weight:bold;
  padding:0.3em;
  display: block;
}

.gems a:hover {
  background:#600000;
  cursor: pointer;
}
