<div class="grid_3" id="most_downloaded">
  <strong><%= t '.leaderboards.downloaded' %></strong>
  <% if @downloaded.any? %>
    <ol>
      <% @downloaded.each do |version, downloads| %>
        <li>
          <%= link_to "#{version.rubygem.name}-#{version.number} (#{number_with_delimiter downloads})", version.rubygem, :title => short_info(version) %>
        </li>
      <% end %>
    </ol>
  <% else %>
    <p><%= t '.leaderboards.no_downloaded' %></p>
  <% end %>
</div>
