<div class="share">
  <h3><%= t '.share.header' %></h3>
  <dl>
    <dt><code>gem update --system</code></dt>
    <dd><%= t '.share.update' %></dd>
    <dt><code>gem build foo.gemspec</code></dt>
    <dd><%= t '.share.build' %></dd>
    <dt><code>gem push foo-1.0.0.gem</code></dt>
    <dd><%= t '.share.deploy' %></dd>
  </dl>
</div>
