<% content_for :fold do %>
  <div class="count">
    <strong><%= number_with_delimiter(@count) %> gems</strong>
    cut since july 2009
  </div>
  <div class="blurb">
    <strong>Welcome to the next generation of RubyGem hosts.</strong>
    <br />Find your gems easier, publish them faster, and have fun doing it.
  </div>
<% end %>

<ol class="instructions">
  <li><strong>Ready</strong><span>&raquo;</span><span>gem install gemcutter</span></li>
  <li><strong>Set</strong><span>&raquo;</span><span>gem tumble</span></li>
  <li><strong>Go</strong><span>&raquo;</span><span>gem push yourgem-0.0.1.gem</span></li>
</ol>
<p class="pitch">
  Gemcutter is <strong>next generation</strong> of gem hosting for the Ruby community.
  <strong>Instantly publish</strong> your gems and install them.
  <strong>Use the API</strong> to interact and find out more information about available gems.
  <strong>Become a contributor</strong> and enhance the site with your own changes.
</p>
<div class="leaderboards">
  <div class="grid_3">
    <h4>New Gems</h4>
    <ol>
      <% @latest.each do |rubygem| %>
        <li>
          <%= link_to rubygem, rubygem %>
        </li>
      <% end %>
    </ol>
  </div>
  <div class="grid_3">
    <h4>Most Downloaded</h4>
    <ol>
      <% @downloaded.each do |rubygem| %>
        <li>
          <%= link_to "#{rubygem.name} (#{rubygem.downloads})", rubygem %>
        </li>
      <% end %>
    </ol>
  </div>
  <div class="grid_3">
    <h4>Just Updated</h4>
    <ol>
      <% @updated.each do |version| %>
        <li>
          <%= link_to version.rubygem, version.rubygem %>
        </li>
      <% end %>
    </ol>
  </div>
</div>
