<div class="seller">
  <div class="count">
    <strong><%= number_with_delimiter(@count) %> gems</strong>
    cut since july 2009
  </div>
  <div class="blurb">
    <strong>Welcome to the next generation of RubyGem hosts.</strong>
    <br />Find your gems easier, publish them faster, and have fun doing it.
  </div>
</div>
<div class="info">
  <ol class="instructions">
    <li>
      <strong>Ready</strong>
      &raquo;
      <span>gem install gemcutter</span>
    </li>
    <li>
      <strong>Set</strong>
      &raquo;
      <span>gem tumble</span>
    </li>
    <li>
      <strong>Go</strong>
      &raquo;
      <span>gem push yourgem-0.0.1.gem</span>
    </li>
  </ol>
</div>
