<div class="grid_8">
  <h3>Creating a gem is easy! Just follow these steps:</h3>

  <ol>
    <li>Sign up for an account on Gemcutter.</li>
    <li>Create your gem. Get started with <%=link_to "Jeweler", "http://github.com/technicalpickles/jeweler" %>.</li>
    <li>Make sure you’re running at least <%=link_to "RubyGems 1.3.3", "http://rubyforge.org/frs/?group_id=126" %></li>
    <li>Install the gemcutter gem with: <code>gem install gemcutter</code></li>
    <li>Run <code>gem tumble</code> to use Gemcutter as your main RubyGem source.</li>
    <li>Build your gem with: <code>gem build yourgem.gemspec</code></li>
    <li>Push it! <code>gem push yourgem-0.0.1.gem</code></li>
  </ol>
</div>
