<% @title = t('.title') %>

<div class="t-body" id="data-dump">
  <p>We provide weekly dumps of the RubyGems.org PostgreSQL data. This dump is sanitized, removing all user information.</p>
  <p>The <a href="https://github.com/rubygems/rubygems.org/tree/master/script/load-pg-dump">load-pg-dump</a> script is
    available as an example of how to to download and load the most recent weekly dump.</p>
  <ul data-controller="dump">
    <template data-dump-target="template">
      <li><a href="#"></a></li>
    </template>
  </ul>
</div>
