<% @title = "Docs" %>
<% @subtitle = "yeah, we got 'em" %>
<p>
  <strong><%= link_to "Gem Docs", page_url("gem_docs") %></strong> Use the Gemcutter gem to publish your own RubyGems and more.
</p>
<p>
  <strong><%= link_to "API Docs", page_url("api_docs") %></strong>
  Learn to use the Gemcutter API to interact in new ways with your RubyGems.
</p>
<p>
  <strong><%= link_to "RubyGem Docs", "http://docs.rubygems.org" %></strong>
  Read up on the RubyGem specification and how to use RubyGems.
</p>
<p>
  Know of more great RubyGem documentation sources? <%= link_to "Fork away", "http://github.com/qrush/gemcutter" %> and add your own!
</p>
