<% @title = t('.title') %>

<div class="prose prose-neutral dark:prose-invert prose-lg lg:prose-xl max-w-prose mx-auto">
  <p>
    <%= link_to "This page has been moved onto #{t(:title)}’s new support site.", "https://help.rubygems.org/kb/gemcutter/faq" %>
  </p>
</div>
