<% @title = t('.title') %>

<div class="t-body">
  <p>
    <%= link_to "This page has been moved onto #{t(:title)}’s new support site.", "http://help.rubygems.org/faqs/gemcutter/faq" %>
  </p>
</div>
