<% @title = t('.title') %>

<div class="l-colspan t-body">
  <p>
    <code>gem migrate</code> has been deprecated, all of the RubyForge accounts and ownerships have been transferred over to Gemcutter.
  </p>
  <p>If you’re having problems with your gems and pushing, <%= link_to "please open a support request", t(:help_url) %>.</p>
</div>
