<% @title = t('.title') %>

<div class="prose prose-neutral dark:prose-invert prose-lg lg:prose-xl max-w-prose mx-auto">
  <p>
    <code>gem migrate</code> has been deprecated, all of the RubyForge accounts and ownerships have been transferred over to Gemcutter.
  </p>
  <p>If you’re having problems with your gems and pushing, <%= mail_to "support@rubygems.org", "please open a support request" %>.</p>
</div>
