<% @title = "migrate gems" %>
<% @subtitle = "transfer your project from RubyForge" %>

<p>
  <code>gem migrate</code> has been deprecated, all of the RubyForge accounts and ownerships have been transferred over to Gemcutter.
</p>
<p>
  If you're having problems with your gems and pushing, feel free to email <code>nick@gemcutter.org</code> about it.
</p>
