<% @title = "Sponsors" %>

<div class="l-colspan t-body">
  <p>
    RubyGems.org is made possible by support from the Ruby community. These companies provide the servers and developers that create the public infrastructure of the Ruby programming language.
  </p>

  <h2>Ruby Central</h2>

  <p>
    Ruby Central, Inc. is a nonprofit 501(c)3 organization dedicated to the support and advocacy of the worldwide Ruby community. They organize the annual RubyConf and RailsConf as opportunities for Rubyists to collaborate and network. As part of those conferences, Ruby Central also operates the Opportunity Scholarship program to consistently bring new people into the tech community and to provide them with a comfortable, welcoming environment to explore our community and its events.
    <br><br>
    They also fund and operate the Ruby Central Community Grant, underwriting events or open source projects that benefit the Ruby community, and they fund the ongoing server costs associated with running RubyGems.org.
  </p>

  <h2>Ruby Together</h2>

  <p>
    Ruby Together is a grassroots initiative committed to supporting the critical Ruby infrastructure you rely on: Bundler, RubyGems, and other shared tools. No more waiting around until someone has free time to apply security patches. Instead, Ruby Together pays developers for dedicated time maintaining and improving shared Ruby tools. Help us keep RubyGems.org running smoothly and free for everyone to use by <a href="https://rubytogether.org/developers">joining as a developer today</a>.
    <br><br>
    Companies count on robust tools, but the volunteers who maintain critical Ruby infrastructure can't keep up in their free time. All too often, individual companies end up paying full-time engineers to privately work around issues shared by the entire Ruby community. You shouldn't pay full price for private solutions to shared issues. Spend more time building great apps, and less time on the tools that make those apps possible: <%= link_to "join Ruby Together", "https://rubytogether.org/companies" %>.
    <br><br>
    Ruby Together is supported by partners like <%= link_to "Hired", "https://hired.com" %>: empowering developers to find job opportunities with groundbreaking companies&mdash;from household names to emerging startups, and everything in between. Developers get access to over 4,400 innovative companies, and can quickly evaluate multiple offers side-by-side to <%= link_to "choose the right fit with confidence", "https://hired.com" %>.
  </p>

  <h2>Fastly</h2>

  <p>
    Fastly provides the RubyGems.org content delivery network, allowing Ruby developers all over the world to download gems from servers near them.
  </p>
</div>
