<%# Locals: current_page, url, remote -%>
<% if current_page.first? -%>
  <span class="inline-flex items-center justify-center w-10 h-10 rounded-md text-neutral-300 dark:text-neutral-700 cursor-default" aria-disabled="true" aria-label="<%= t("views.pagination.previous_page", default: "Previous page") %>"><%= icon_tag "chevron-left", size: 5 %></span>
<% else -%>
  <%= link_to url, remote: remote, rel: "prev", aria: { label: t("views.pagination.previous_page", default: "Previous page") },
        class: "inline-flex items-center justify-center w-10 h-10 rounded-md no-underline text-neutral-700 dark:text-neutral-300 hover:bg-neutral-100 dark:hover:bg-neutral-800" do %><%= icon_tag "chevron-left", size: 5 %><% end %>
<% end -%>
