development: &DEVELOPMENT
  adapter: postgresql
  database: gemcutter_development
  host: localhost
  pool: 5
  timeout: 5000
  username: <%= `whoami`.gsub("\n", "") %>
  password: rubygemsrock

staging:
  <<: *DEVELOPMENT

test: &TEST
  <<: *DEVELOPMENT
  database: gemcutter_test
  min_messages: warning
  username: <%= `whoami`.gsub("\n", "") %>
  password: rubygemsrock

cucumber:
  <<: *TEST

production:
  adapter: postgresql
  database: gemcutter_production
