default: &default
  adapter: postgresql
  encoding: utf8
  username: postgres
  prepared_statements: false

development:
  primary:
    <<: *default
    database: rubygems_development
    host: <%= ENV.fetch("DB_HOST", "localhost") %>
    password: devpassword
    pool: 5
    timeout: 5000

test:
  primary:
    <<: *default
    database: rubygems_test
    host: <%= ENV.fetch("DB_HOST", "localhost") %>
    min_messages: warning
    password: testpassword
    pool: 5
    timeout: 5000
    gssencmode: disable

staging:
  primary:
    <<: *default
    database: rubygems_staging
    min_messages: error
    pool: 30
    reconnect: true

production:
  primary:
    <<: *default
    database: rubygems_production
    min_messages: error
    pool: 30
    reconnect: true
