default: &default
  adapter: postgresql
  encoding: utf8
  username: postgres
  prepared_statements: false

development:
  primary:
    <<: *default
    database: rubygems_development
    host: localhost
    password: devpassword
    pool: 5
    timeout: 5000


test:
  primary:
    <<: *default
    database: rubygems_test
    host: localhost
    min_messages: warning
    password: testpassword
    pool: 5
    timeout: 5000

oidc-api-token:
  primary:
    <<: *default
    database: rubygems_oidc_api_token
    min_messages: error
    pool: 30
    reconnect: true

staging:
  primary:
    <<: *default
    database: rubygems_staging
    min_messages: error
    pool: 30
    reconnect: true

production:
  primary:
    <<: *default
    database: rubygems_production
    min_messages: error
    pool: 30
    reconnect: true
