development:
  adapter: postgresql
  database: gemcutter_development
  host: localhost
  pool: 5
  timeout: 5000

test: &TEST
  adapter: postgresql
  database: gemcutter_test
  host: localhost
  min_messages: warning
  pool: 5
  timeout: 5000

cucumber:
  <<: *TEST

production:
  adapter: postgresql
  database: gemcutter_production
