development:
  adapter: postgresql
  database: gemcutter_development
  pool: 5
  timeout: 5000

test: &TEST
  adapter: postgresql
  database: gemcutter_test
  pool: 5
  timeout: 5000

cucumber:
  <<: *TEST

production:
  adapter: postgresql
  database: gemcutter_production
