development:
  host: localhost
  local_storage: true
  s3_bucket: ""
  s3_domain: development.s3.rubygems.org
  cf_domain: development.cf.rubygems.org

test:
  host: localhost
  local_storage: true
  s3_bucket: test.s3.rubygems.org
  s3_domain: test.s3.rubygems.org
  cf_domain: test.cf.rubygems.org

staging:
  host: staging.rubygems.org
  local_storage: false
  s3_bucket: staging.s3.rubygems.org
  s3_domain: staging.s3.rubygems.org
  cf_domain: staging.cf.rubygems.org

live: &LIVE
  host: rubygems.org
  local_storage: false
  s3_bucket: production.s3.rubygems.org
  s3_domain: production.s3.rubygems.org
  cf_domain: production.cf.rubygems.org

production:
  <<: *LIVE

recovery:
  <<: *LIVE
