<div class="flex items-center justify-center">
  <div class="w-full bg-white dark:bg-black border border-neutral-200 dark:border-neutral-800 rounded-xl shadow-md p-10 password-reset" id="clearance">
    <p class="text-sm font-semibold text-neutral-900 dark:text-white">
      <%= t(".success") %>
    </p>
  </div>
</div>
