<% @title = "forgot your password?" %>

<p>
  We will email you a link to reset your password.
</p>

<% form_for :password, :url => passwords_url do |form| %>
  <div class="text_field">
    <%= form.label :email %>
    <%= form.text_field :email %>
  </div>
  <div class="form_bottom">
    <%= form.submit 'Reset password', :disable_with => 'Please wait...' %>
  </div>
<% end %>
