<li>
  <%= link_to version.number, rubygem_version_url(version.rubygem, version.number) %>
  <small><%= version.built_at_date %></small>
  <% if version.platform != 'ruby' %>
    <span class="platform"><%= version.platform %></span>
  <% end %>
</li>
