<li>
  <%= link_to version.number, rubygem_version_url(version.rubygem, version.slug) %>
  <small><%= version.built_at_date %></small>
  <% if version.platformed? %>
    <span class="platform"><%= version.platform %></span>
  <% end %>
  <% if version.yanked? -%>
    <span class="yanked">yanked</span>
  <% end -%>
</li>
