<% @title = t('.title', :name => @rubygem.name) %>
<p>
  <%= t('.versions_since', :count => @versions.size, :since => nice_date_for(@rubygem.first_built_date)) %>
</p>
<div class="versions">
  <ol>
    <%= render @versions %>
  </ol>
</div>
