<% @title = "all versions of #{@rubygem.name}" %>
<p>
<%= @versions.size %> versions since <%= @rubygem.versions.last.built_at_date %>
</p>
<div class="versions">
  <ol>
    <%= render @versions %>
  </ol>
</div>
