<% @title = t('.title', :name => @rubygem.name) %>
<% if @versions.load.size.zero? %>
  <div class="t-body">
    <p><%= t('.not_hosted_notice') %></p>
  </div>
<% else %>
  <h3 class="t-list__heading"><%= t('.versions_since', :count => @versions.size, :since => nice_date_for(@versions.map(&:authored_at).min)) %>:</h3>
  <div class="versions">
    <ul class="t-list__items">
      <%= render @versions %>
    </ul>
  </div>
<% end %>
