<div class="access-policy">
  <dl class="oidc_access_policy">
    <dt><%= access_policy.class.human_attribute_name :statements %></dt>
    <dd>
      <%= render access_policy.statements %>
    </dd>
  </dl>
</div>
