.error__illustration {
  padding-top: 60px;
  padding-bottom: 30px;
  position: relative; }

.error__illustration__main {
  width: 100%; }

.error__illustration__bubble, .error__illustration__boat, .error__illustration__shadow {
  position: absolute;
  width: 100%;
  top: 60px;
  left: 0; }

.error__illustration__bubble {
  animation: bounce 3s infinite; }

.error__illustration__boat, .error__illustration__shadow {
  animation: rock 5s infinite; }

.error__info {
  margin-right: auto;
  margin-left: auto;
  max-width: 680px;
  text-align: center; }

.error__info__heading {
  margin-bottom: 8px; }
@-ms-keyframes bounce {
  50% {
    transform: translateY(-8px);
    animation-timing-function: ease-in-out; } }
@keyframes bounce {
  50% {
    transform: translateY(-8px);
    animation-timing-function: ease-in-out; } }
@-ms-keyframes rock {
  50% {
    transform: rotate(-3deg) translateX(3px);
    animation-timing-function: ease-in-out; } }
@keyframes rock {
  50% {
    transform: rotate(-3deg) translateX(3px);
    animation-timing-function: ease-in-out; } }
