.footer {
  padding-top: 48px;
  padding-bottom: 48px;
  position: relative;
  overflow: auto;
  border-top: 1px solid rgba(255, 255, 255, 0.3);
  background-color: #141c22;
  box-shadow: 0 -4px 0 0 #141c22;
  z-index: 2; }
  @media (min-width: 780px) {
    .footer {
      min-height: 70vh; } }

.l-wrap--footer {
  margin-right: auto;
  margin-left: auto;
  max-width: 940px; }
  @media (max-width: 579px) {
    .l-wrap--footer {
      width: 78%; } }
  @media (min-width: 580px) {
    .l-wrap--footer {
      width: 90%; } }

.footer__about {
  max-width: 550px;
  font-weight: 300;
  line-height: 1.66;
  color: #6c767e; }
  @media (max-width: 579px) {
    .footer__about {
      font-size: 15px; } }
  @media (min-width: 580px) {
    .footer__about {
      font-size: 18px; } }
  @media (min-width: 780px) {
    .footer__about {
      min-height: 222px; } }

.footer__language_selector {
  clear: both;
  max-width: 940px;
  margin: 0 auto;
  text-align: center;
  color: #6c767e; }
  .footer__language {
    width: 100px;
    display: inline-block;
  }

.footer__sponsors-wrap {
  margin-top: 60px;
  padding-top: 45px;
  border-top: 1px solid rgba(255, 255, 255, 0.1); }
  @media (min-width: 1040px) {
    .footer__sponsors-wrap {
      margin-right: auto;
      margin-left: auto;
      max-width: 940px; } }

.footer__sponsors {
  margin-right: auto;
  margin-left: auto; }
  @media (max-width: 579px) {
    .footer__sponsors {
      width: 78%; } }
  @media (min-width: 580px) and (max-width: 1039px) {
    .footer__sponsors {
      width: 90%; } }

.footer__sponsor {
  margin-bottom: 36px;
  float: left;
  height: 100px;
  width: 90px;
  background-image: url(/sponsors.png);
  background-size: 100%;
  font-style: italic;
  font-weight: 300;
  font-size: 12px;
  text-align: center;
  color: white;
  opacity: .4;
  transition-duration: 0.25s;
  transition-property: opacity; }
  .footer__sponsor:focus, .footer__sponsor:hover {
    opacity: 1; }
  .footer__sponsor:focus {
    outline: none; }
  .footer__sponsor:nth-child(1) {
    background-position: 0 20px; }
  @media (max-width: 1039px) {
    .footer__sponsor {
      width: 100px; }
    .footer__sponsor:nth-child(2) {
      background-position: 0 -84px; }
    .footer__sponsor:nth-child(3) {
      background-position: 0 -174px; }
    .footer__sponsor:nth-child(4) {
      background-position: 0 -264px; }
    .footer__sponsor:nth-child(5) {
      background-position: 0 -355px; }
    .footer__sponsor:nth-child(6) {
      background-position: 0 108px; }
    .footer__sponsor:nth-child(7) {
      background-position: 0 -456px; }
    .footer__sponsor:nth-child(8) {
      background-position: 0 210px; }
    }
  @media (min-width: 1040px) {
    .footer__sponsor {
      width: 90px; }
    .footer__sponsor:nth-child(2) {
      background-position: 0 -72px; }
    .footer__sponsor:nth-child(3) {
      background-position: 0 -153px; }
    .footer__sponsor:nth-child(4) {
      background-position: 0 -236px; }
    .footer__sponsor:nth-child(5) {
      background-position: 0 -314px; }
    .footer__sponsor:nth-child(6) {
      background-position: 0 100px; }
    .footer__sponsor:nth-child(7) {
      background-position: 0 -409px; }
    .footer__sponsor:nth-child(8) {
      background-position: 0 192px; }
    }
  @media (max-width: 579px) {
    .footer__sponsor:nth-child(odd) {
      margin-right: 18%; } }
  @media (min-width: 580px) {
    .footer__sponsor:not(:last-child) {
      margin-right: 30px; } }

.footer__sponsor__logo {
  margin-top: 5px;
  width: 100%; }
