.footer {
  padding-top: 48px;
  padding-bottom: 48px;
  position: relative;
  overflow: auto;
  border-top: 1px solid rgba(255, 255, 255, 0.3);
  background-color: #141c22;
  box-shadow: 0 -4px 0 0 #141c22;
  z-index: 2;
  width: 100%; }
  @media (min-width: 780px) {
    .footer {
      min-height: 70vh; } }

.l-wrap--footer {
  margin-right: auto;
  margin-left: auto;
  max-width: 940px; }
  @media (max-width: 579px) {
    .l-wrap--footer {
      width: 78%; } }
  @media (min-width: 580px) {
    .l-wrap--footer {
      width: 90%; } }

.footer__about {
  max-width: 550px;
  font-weight: 300;
  line-height: 1.66;
  color: #9A9A9A; }
  @media (max-width: 579px) {
    .footer__about {
      font-size: 15px; } }
  @media (min-width: 580px) {
    .footer__about {
      font-size: 18px; } }
  @media (min-width: 780px) {
    .footer__about {
      min-height: 222px; } }
.footer__about p {
  margin-bottom: 1em; }
.footer__about a {
  color: white; }

.footer__language_selector {
  clear: both;
  max-width: 940px;
  margin: 0 auto;
  text-align: center;
  color: #6c767e; }
  .footer__language {
    margin: 0 14px;
    display: inline-block;
  }

.footer__sponsors-wrap {
  margin-top: 60px;
  padding-top: 45px;
  border-top: 1px solid rgba(255, 255, 255, 0.1); }
  @media (min-width: 1040px) {
    .footer__sponsors-wrap {
      margin-right: auto;
      margin-left: auto;
      max-width: 940px; } }

.footer__sponsors {
  margin: 0 10%;}
  @media (max-width: 579px) {
    .footer__sponsors {
      width: 78%; } }
  @media (min-width: 580px) and (max-width: 1039px) {
    .footer__sponsors {
      width: 90%; } }

.footer__sponsor {
  margin-bottom: 36px;
  float: left;
  height: 100px;
  width: 90px;
  background-image: url(/sponsors.png);
  background-size: 100%;
  font-style: italic;
  font-weight: 300;
  font-size: 12px;
  text-align: center;
  color: white;
  opacity: .4;
  transition-duration: 0.25s;
  transition-property: opacity; }
  .footer__sponsor:focus, .footer__sponsor:hover {
    opacity: 1; }
  .footer__sponsor:focus {
    outline: none; }
  .footer__sponsor:nth-child(1) {
    background-position: 0 4px; }
  @media (max-width: 1039px) {
    .footer__sponsor {
      width: 100px; }
    .footer__sponsor:nth-child(2) {
      background-position: 0 -119px; }
    .footer__sponsor:nth-child(3) {
      background-position: 0 -232px; }
    .footer__sponsor:nth-child(4) {
      background-position: 0 -330px; }
    .footer__sponsor:nth-child(5) {
      background-position: 0 -419px; }
    .footer__sponsor:nth-child(6) {
      background-position: 0 -710px; }
    .footer__sponsor:nth-child(7) {
      background-position: 0 -526px; }
    .footer__sponsor:nth-child(8) {
      background-position: 0 -606px; }
    .footer__sponsor:nth-child(9) {
      background-position: 0 -804px; }
    .footer__sponsor:nth-child(10) {
      background-position: 0 -950px; }
    }
  @media (min-width: 1040px) {
    .footer__sponsor {
      width: 90px; }
    .footer__sponsor:nth-child(2) {
      background-position: 0 -105px; }
    .footer__sponsor:nth-child(3) {
      background-position: 0 -204px; }
    .footer__sponsor:nth-child(4) {
      background-position: 0 -291px; }
    .footer__sponsor:nth-child(5) {
      background-position: 0 -372px; }
    .footer__sponsor:nth-child(6) {
      background-position: 0 -634px; }
    .footer__sponsor:nth-child(7) {
      background-position: 0 -469px; }
    .footer__sponsor:nth-child(8) {
      background-position: 0 -541px; }
    .footer__sponsor:nth-child(9) {
      background-position: 0 -717px; }
    .footer__sponsor:nth-child(10) {
      background-position: 0 -852px; }
    }
  @media (max-width: 579px) {
    .footer__sponsor:nth-child(odd) {
      margin-right: 18%; } }
  @media (min-width: 580px) {
    .footer__sponsor {
      margin:0 30px 36px 30px; } }

.footer__sponsor__logo {
  margin-top: 5px;
  width: 100%; }
