.gem__version {
  position: relative;
  color: #a6aab2; }
  @media (max-width: 929px) {
    .gem__version {
      top: 5px;
      font-size: 20px; } }
  @media (min-width: 930px) {
    .gem__version {
      top: 10px;
      font-size: 42px; } }

.gem__intro {
  margin-bottom: 32px;
  padding-bottom: 30px;
  border-bottom: 1px solid #c1c4ca; }

.gem__desc {
  font-size: 16px;
  font-weight: 300;
  line-height: 1.5; }

.gem__members {
  padding-top: 30px;
  border-top: 1px solid #c1c4ca;
  clear: both; }
  @media (max-width: 779px) {
    .gem__members {
      margin-bottom: 30px;
      padding-bottom: 30px;
      overflow: auto;
      border-bottom: 1px solid #c1c4ca; } }

.gem__sha {
  margin-top: 16px; }

.gem__owners {
  margin-top: 16px; }
  .gem__owners img {
    margin-right: 12px;
    margin-bottom: 12px;
    height: 32px;
    width: 32px;
    border-radius: 16px; }
  .gem__owners a:hover:before {
    content: "";
    height: 32px;
    width: 32px;
    position: absolute;
    border-radius: 16px;
    background-color: #e9573f;
    opacity: .5; }

.gem__downloads-wrap {
  margin-bottom: 30px; }

.gem__downloads__heading {
  margin-bottom: 6px; }

.gem__downloads {
  margin-bottom: 20px;
  display: block;
  font-weight: 800;
  font-size: 24px; }

.gem__see-all-versions {
  font-style: italic; }

.gem__ruby-version__heading {
  margin-bottom: 10px; }

.gem__ruby-version {
  margin-top: 10px;
  margin-bottom: 30px;
  display: block;
  font-weight: 800;
  font-size: 18px;
  color: #141c22; }

.gem__code-wrap {
  margin-top: 12px;
  position: relative;
  width: 100%;
  border: 1px solid #141c22;
  border-radius: 6px;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box; }

.gem__code {
  padding-right: 10px;
  padding-left: 10px;
  margin-bottom: 1px;
  display: inline-block;
  overflow: hidden;
  width: 100%;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  font-family: "courier", monospace;
  font-size: 12px;
  line-height: 30px;
  text-transform: none;
  white-space: nowrap;
  color: #141c22;
  -moz-appearance: none;
  -webkit-border-radius: 6px;
  border-radius: 6px;
  border: none;
  font-weight: bold; }

  .gem__code::-webkit-scrollbar {
    display: none; }

.gem__code__icon {
  padding-left: 2px;
  height: 100%;
  width: 30px;
  position: absolute;
  top: 0;
  right: 0;
  border-top-right-radius: 3px;
  border-bottom-right-radius: 3px;
  background-color: #141c22;
  font-family: "icomoon";
  font-size: 14px;
  line-height: 32px;
  text-align: center;
  z-index: 5;
  color: #ffffff;
  cursor: pointer; }
  .gem__code__icon:before {
    content: "";
    position: absolute;
    left: -10px;
    height: 100%;
    width: 10px;
    background-image: linear-gradient(to right, transparent 0%, white 100%); }

.gem__code__tooltip--copy,
.gem__code__tooltip--copied {
  display: none; }

.clipboard-is-hover,
.clipboard-is-active {
  display: block;
  position: absolute;
  top: 45px;
  right: 0;
  width: 120px;
  border-radius: 6px;
  background-color: #141c22;
  text-transform: none;
  line-height: 30px;
  text-align: center;
  color: #ffffff; }
  .clipboard-is-hover:before,
  .clipboard-is-active:before {
    content: "";
    position: absolute;
    top: -4px;
    right: 8px;
    height: 15px;
    width: 15px;
    background-color: #141c22;
    -ms-transform: rotate(45deg);
    -webkit-transform: rotate(45deg);
    transform: rotate(45deg);
  }

.gem__link:before {
  margin-right: 16px; }

.gem__versions-wrap {
  margin-bottom: 70px;
  overflow: auto; }

.gem__versions {
  margin-bottom: 12px; }

.gem__version__date {
  color: #a6aab2; }

.gem__versions-wrap {
  overflow: auto; }

.gem__version__date {
  font-size: 15px; }

.gem__version-wrap {
  font-weight: 800; }
  .gem__version-wrap a.t-list__item {
    display: inline-block; }
  .gem__version-wrap .gem__version__date {
    font-weight: 400; }
