:root {
  --gem-version-color: #a6aab2;
}

.gem__version {
  position: relative;
  color: var(--gem-version-color); }
  @media (max-width: 929px) {
    .gem__version {
      top: 5px;
      font-size: 20px; } }
  @media (min-width: 930px) {
    .gem__version {
      top: 10px;
      font-size: 42px; } }

.gem__intro, .gem__install {
  margin-bottom: 32px;
  padding-bottom: 30px;
  border-bottom: 1px solid #c1c4ca; }

.gem__desc {
  font-size: 16px;
  font-weight: 300;
  line-height: 1.5; }

.gem__members {
  padding-top: 30px;
  border-top: 1px solid #c1c4ca;
  clear: both; }
  @media (max-width: 779px) {
    .gem__members {
      margin-bottom: 30px;
      padding-bottom: 30px;
      overflow: auto;
      border-bottom: 1px solid #c1c4ca; } }

.owners {
  clear: both;
  margin-bottom: -30px; }

.gem__sha {
  margin-top: 16px; }

.gem__expiry {
  margin-top: 16px; }

.gem__ghbtn {
    margin-bottom: 15px; }

.gem__users {
  margin-top: 16px; }
  .gem__users img {
    margin-right: 12px;
    margin-bottom: 12px;
    height: 32px;
    width: 32px;
    border-radius: 16px; }
  .gem__users a:hover:before {
    content: "";
    height: 32px;
    width: 32px;
    position: absolute;
    border-radius: 16px;
    background-color: #e9573f;
    opacity: .5; }

.gem__users__mfa-text {
  color: #e9573f;
}
.gem__downloads-wrap {
  margin-bottom: 30px; }

.gem__downloads__heading {
  margin-bottom: 6px; }

.gem__downloads {
  margin-bottom: 20px;
  display: block;
  font-weight: 800;
  font-size: 24px; }

.gem__see-all-versions {
  font-style: italic;
  display: inline-block;
  padding-bottom: 10px; }

.gem__ruby-version__heading {
  margin-bottom: 10px; }

.gem__ruby-version {
  margin-top: 10px;
  margin-bottom: 30px;
  display: block;
  font-weight: 800;
  font-size: 18px;
  color: #141c22; }

.gem__rubygem-version-age {
  margin-top: 10px;
  margin-bottom: 30px;
  display: block;
  font-weight: 800;
  font-size: 14px;
  color: #141c22; }

.gem__code-wrap {
  margin-top: 12px;
  position: relative;
  width: 100%;
  border: 1px solid #141c22;
  border-radius: 6px;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box; }

.gem__code {
  padding-right: 10px;
  padding-left: 10px;
  margin-bottom: 1px;
  display: inline-block;
  overflow: hidden;
  width: 100%;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  font-family: "courier", monospace;
  font-size: 12px;
  line-height: 30px;
  text-transform: none;
  white-space: nowrap;
  color: #141c22;
  -moz-appearance: none;
  -webkit-border-radius: 6px;
  border-radius: 6px;
  border: none;
  font-weight: bold; }

.gem__code.multiline {
  line-height: inherit;
  white-space: pre-wrap;
  border-radius: 0; }

  .gem__code::-webkit-scrollbar {
    display: none; }

.gem__code__icon {
  padding-left: 2px;
  height: 100%;
  width: 30px;
  position: absolute;
  top: 0;
  right: 0;
  border-top-right-radius: 3px;
  border-bottom-right-radius: 3px;
  background-color: #141c22;
  font-family: "icomoon";
  font-size: 14px;
  line-height: 32px;
  text-align: center;
  color: #ffffff;
  cursor: pointer; }
  .gem__code__icon:before {
    content: "";
    position: absolute;
    left: -10px;
    height: 100%;
    width: 10px;
    background-image: linear-gradient(to right, transparent 0%, white 100%); }

.gem__code__header {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: .5rem;
  border-top-left-radius: .25rem;
  border-top-right-radius: .25rem;
  border: #c1c4ca 1px solid;
  border-bottom: 0; }

.gem__code__header .gem__code__icon {
  position: inherit;
  padding: .125rem;
  width: 40px; }

.gem__code__icon.static {
  position: static; }

.gem__link:before {
  margin-right: 16px; }

.gem__link__verified:after {
  margin-left: 8px;
  font-size: .75rem;
  content: "✓"; }

.gem__versions-wrap {
  margin-bottom: 70px;
  overflow: auto; }

.gem__versions {
  margin-bottom: 12px; }

.gem__version__date {
  color: var(--gem-version-color); }

.gem__version__date.tooltip__text {
  color: var(--gem-version-color); }

.gem__versions-wrap {
  overflow: auto; }

.gem__version__date {
  font-size: 15px; }

.gem__version-wrap {
  font-weight: 800; }
  .gem__version-wrap a.t-list__item {
    display: inline-block; }
  .gem__version-wrap .gem__version__date {
    font-weight: 400; }

.gem__requirement-wrap {
    line-height: inherit; }
.gem__requirement-wrap a.t-list__item {
    display: inline-block; }

.gem__unregistered {
  color: var(--gem-version-color);
  cursor: help;
}

.gem__navigation {
  display: inline-block;
  width: 100%;
  margin-top: 30px;
}

.gem__navigation a {
  color: #9da2ab;
  text-transform: uppercase;
  font-weight: bold;
  transition-duration: 0.25s;
  transition-property: color;
  outline: none;
}

.gem__navigation a:hover, .gem__navigation a:focus, .gem__navigation a:active {
  color: #141c22;
}

.gem__previous__version.disabled:hover, .gem__next__version.disabled:hover {
  color: #9da2ab;
}

.gem__next__version {
  float: right;
}

.gem__previous__version {
  float: left;
}

.gem__dependencies:not(:first-of-type) {
  margin-top: 36px;
}

.gem__attestation {
  align-items: center;
  display: flex;
  flex-direction: row;
  gap: 10px;
  padding: 0;
}

.gem__attestation:not(:first-child) {
  margin-top: 16px;
}

.gem__attestation__built_on {
  border: 1px solid #d7dee3;
  border-radius: 8px;
  box-shadow: 2px 2px 7px 0 #00000008;
  display: flex;
  flex-shrink: 0;
  gap: 16px;
  padding: 20px;
}

.gem__attestation__built_on__github_actions {
  align-items: center;
  aspect-ratio: 1/1;
  background: #ffeedd;
  background-color: #f0f2f5;
  border: 1px solid #f74c27;
  border-radius: 7px;
  box-sizing: border-box;
  display: flex;
  flex: none;
  flex-direction: row;
  flex-grow: 0;
  gap: 10px;
  min-width: 72px;
  order: 0;
  padding: 12px;
}

.gem__attestation__built_on__info {
  align-items: flex-start;

  /* Frame 1197136313 */

  /* Auto layout */
  display: flex;
  flex-direction: column;
  font-size: 12px;
  font-weight: 400;
  gap: 4px;
  height: fit-content;
  line-height: 24px;
  padding: 0;
  text-align: left;
  text-decoration-skip-ink: none;
  text-underline-position: from-font;
}

.gem__attestation__built_on__info em {
  font-size: 16px;
  font-style: normal;
  font-weight: 600;
  color: #333a45;
}

.gem__attestation__built_on__info a {
  color: #f74c27;
  text-decoration: underline;
}

.gem__attestation__grid {
  box-sizing: border-box;
  display: flex;
  flex: 1;
  flex-direction: column;
  gap: 10px;
  padding: 20px;
  width: 100%;
}

.gem__attestation__grid > div {
  align-items: baseline;
  display: flex;
  flex-direction: row;
  gap: 16px;
  place-content: space-between;
}

.gem__attestation__grid p {
  font-size: 14px;
  font-weight: 600;
  height: 100%;
}

.gem__attestation__grid a {
  align-items: center;
  color: var(--gem-version-color);
  display: flex;
  flex-direction: row;
  font-size: 14px;
  font-weight: 400;
  height: 100%;
  text-align: end;
  text-decoration: none;
  width: 100%;
}

.gem__attestation__grid a::after {
  content: url('data:image/svg+xml;utf8,<svg width="20" height="21" viewBox="0 0 20 21" fill="none" xmlns="http://www.w3.org/2000/svg"><path fill-rule="evenodd" clip-rule="evenodd" d="M5.8074 2.5574C5.86545 2.49919 5.93442 2.45301 6.01035 2.42151C6.08629 2.39 6.16769 2.37378 6.2499 2.37378C6.33211 2.37378 6.41351 2.39 6.48944 2.42151C6.56537 2.45301 6.63434 2.49919 6.6924 2.5574L14.1924 10.0574C14.2506 10.1155 14.2968 10.1844 14.3283 10.2604C14.3598 10.3363 14.376 10.4177 14.376 10.4999C14.376 10.5821 14.3598 10.6635 14.3283 10.7394C14.2968 10.8154 14.2506 10.8843 14.1924 10.9424L6.6924 18.4424C6.57504 18.5598 6.41587 18.6257 6.2499 18.6257C6.08393 18.6257 5.92475 18.5598 5.8074 18.4424C5.69004 18.325 5.62411 18.1659 5.62411 17.9999C5.62411 17.8339 5.69004 17.6748 5.8074 17.5574L12.8661 10.4999L5.8074 3.4424C5.74919 3.38434 5.70301 3.31537 5.67151 3.23944C5.64 3.16351 5.62378 3.08211 5.62378 2.9999C5.62378 2.91769 5.64 2.83629 5.67151 2.76035C5.70301 2.68442 5.74919 2.61545 5.8074 2.5574Z" fill="%23333A45"/></svg>');
  display: inline-block;
  height: 1rem;
  vertical-align: middle;
}

@media (width <= 929px) {
  .gem__attestation__grid {
    padding: 10px;
  }

  .gem__attestation__grid > div {
    flex-direction: column;
    gap: 16px;
  }

  .gem__attestation {
    align-items: flex-start;
    flex-direction: column;
    gap: 16px;
    width: 100%;
  }

  .gem__attestation__grid a {
    justify-content: space-between;
  }

  .gem__attestation__grid p {
    width: 100%;
  }

  .gem__attestation__built_on {
    box-sizing: border-box;
    width: 100%;
  }
}

.gem__organization-name {
    padding: 16px 0;
    display: block;
    color: #141c22;
    transition-duration: 0.25s;
    transition-property: color; }
