dl.api_key_permissions {
  margin-top: 1em;
  display: grid;
  grid-template-columns: 1fr 2fr;
}

dl.api_key_permissions dt {
  font-weight: bold;
  float: inherit;
}

dl.oidc_access_policy {
  display: grid;
  column-gap: 1rem;
  grid-template-columns: fit-content(6rem) auto;
}

dl.oidc_access_policy > dd > * + * {
  border-top-width: 2px;
  border-top-style: solid;
  border-top-color: #e2e8f0;
  margin-top: .125rem;
  padding-top: .125rem;
}

dl.provider_attributes {
  column-gap: 1rem;
  align-items: baseline;
  row-gap: 1rem;
}

@media (max-width: 420px){
  dl.provider_attributes  {
    display: flex;
    flex-direction: column;
  }
}
@media (min-width: 421px){
  dl.provider_attributes  {
    display: grid;
    grid-template-columns: repeat(2, minmax(0, 1fr));
  }
}

dl.full-width {
  width: 100%;
  overflow-wrap: break-word;
  word-break: break-word;

}

dl.provider_attributes dt.text-right {
  text-align: right;
}

dl.provider_attributes dt.text-left {
  text-align: left;
}

dl.provider_attributes dd ul.tag-list {
  display: flex;
  flex-direction: row;
  list-style: none;
  justify-content: start;
  column-gap: 1rem;
  flex-wrap: wrap;
  align-items: baseline;
  margin: 0;
}

dl.provider_attributes dd ul.tag-list li {
  padding: 0.5rem 1rem;
  background-color: #e2e8f0;
  flex-shrink: 1;
  border-radius: 9999px;
}
dl.provider_attributes dd ul.tag-list li:before {
  height: 0;
}
