/* Flash Intercoms */

.flash {
  border-bottom: 1px solid #e9573f;
  background-color: white; }

.flash-wrap {
  padding-top: 5px;
  padding-bottom: 5px;
  background-image: linear-gradient(to right, rgba(233, 87, 63, 0.3), #e9573f); }

.flash-wrap span {
  font-size: 13px;
  font-style: italic;
  color: #141c22; }

.flash a {
  color: #141c22;
  text-decoration: underline;
  font-weight: bold;
}
/* Announcement Styles */

#announcement {
  background-color: white;
  padding: 2px 10px 2px 10px;
  border: 1px solid transparent;
  border-bottom: 1px solid #e9573f;
  font-weight: 500;
  font-size: 18px;
  background-image: linear-gradient(to right, rgba(233, 87, 63, 0.3), #e9573f);
  color: #e9573f;
}

#announcement .hide {
  cursor: pointer;
  font-size: 12px;
}

/* Error Styles */

.errorExplanation {
  margin-bottom: 60px;
  padding: 20px;
  border: 1px solid #e9573f;
  border-radius: 3px; }
  .errorExplanation h2 {
    margin-bottom: 10px; }
  .errorExplanation p {
    font-style: italic; }
  .errorExplanation ul {
    margin-top: 18px; }
  .errorExplanation ul li, .errorExplanation p {
    font-weight: 300;
    font-size: 16px;
    line-height: 1.66; }
  .errorExplanation ul li {
    padding-left: 23px;
    text-indent: -23px; }
    .errorExplanation ul li:before {
      content: "✘";
      margin-right: 15px;
      position: relative;
      top: -2px;
      font-family: "icomoon";
      font-size: 10px;
      color: #e9573f; }



/* Password Reset  */

.password-reset {
  padding-top: 50px;
  font-weight: 300;
  font-size: 18px;
  line-height: 1.66; }



/* Dashboard */

.dashboard {
  width: 100%;
  overflow: auto; }

.dashboard__gems {
  margin-top: -30px; }

.dashboard__updates {
  margin-top: 3px;
  margin-bottom: 30px;
  font-weight: 800;
  font-size: 12px;
  text-transform: uppercase;
  color: #c1c4ca; }

.dashboard__gem {
  padding-top: 20px;
  padding-bottom: 20px;
  display: block;
  border-bottom: 1px solid #c1c4ca;
  color: #141c22; }
  .dashboard__gem:hover .dashboard__gem__name {
    color: #e9573f; }

.dashboard__gem__info {
  margin-bottom: 6px; }

.dashboard__gem__name {
  font-weight: 800;
  font-size: 18px;
  transition-duration: 0.25s;
  transition-property: color; }

.dashboard__gem__version {
  margin-left: 10px;
  font-weight: 300;
  color: #a6aab2; }

.dashboard__gem__desc {
  font-weight: 300;
  font-size: 15px;
  line-height: 1.66; }



/* Profile */

.profile__header {
  padding-bottom: 40px;
  width: 100%;
  overflow: auto;
  border-bottom: 1px solid #c1c4ca; }
  @media (max-width: 779px) {
    .profile__header {
      padding-top: 18px; } }
  @media (min-width: 780px) {
    .profile__header {
      padding-top: 60px; } }

@media (min-width: 600px) {
  .profile__header__name-wrap {
    float: left;
    width: 70%; } }

.profile__header__name {
  overflow-x: auto; }
  @media (min-width: 780px) {
    .profile__header__name {
      padding-top: 16px; } }


@media (max-width: 779px) {
  .profile__header__avatar {
    display: none; } }
@media (min-width: 780px) {
  .profile__header__avatar {
    margin-right: 45px;
    height: 150px;
    width: 150px;
    float: left;
    border-radius: 50%; } }

.profile__header__attribute {
  padding-top: 10px;
  display: inline-block; }
  .profile__header__attribute:before {
    margin-right: 9px;
    position: relative;
    top: 1px; }

.profile__header__icon {
  height: 28px;
  float: left;
  margin-top: 3px;
  margin-left: -5px; }

@media (max-width: 599px) {
  .profile__downloads-wrap {
    padding-top: 32px;
    width: 100%;
    float: left; } }
@media (min-width: 600px) {
  .profile__downloads-wrap {
    float: right;
    text-align: right; } }
@media (min-width: 780px) {
  .profile__downloads-wrap {
    padding-top: 32px; } }



/* Dashboard Gems and Subscriptions */

.mine h1 {
  margin-bottom: 0 !important; }

.mine ul {
  margin-top: 10px !important; }

.mine li {
  text-indent: 0 !important;
  overflow: auto;
  font-size: 15px !important; }
  .mine li:before {
    margin-left: -23px;
    float: left;
    top: 9px !important; }
  .mine li a {
    word-break: break-all; }



/* About Page Assets */

@media (max-width: 529px) {
  .hide-assets {
    display: none; }}

.about__assets__heading {
  text-transform: none !important;
  margin-bottom: 18px !important; }

.about__assets-wrap {
  padding-left: 32px;
  height: 90px;
  max-width: 440px;
  background-color: #c1c4ca;
  border-radius: 45px; }

.about__assets {
  padding-right: 26px;
  position: relative;
  top: 16px;
  float: left;
  height: 60px;
  border-right: 1px solid #8d9197; }

.about__asset {
  width: 60px; }

.about__assets__download {
  margin-left: 32px;
  padding-right: 24px;
  padding-left: 24px;
  display: inline-block;
  position: relative;
  top: 24px;
  border-radius: 22px;
  background-color: #ffffff;
  font-size: 18px;
  font-weight: 800;
  line-height: 44px; }
  .about__assets__download:focus, .about__assets__download:hover {
    color: #e9573f !important; }
  .about__assets__download:before {
    margin-left: 8px;
    float: right; }
  .about__assets__download:focus:before, .about__assets__download:hover:before {
    animation: arrow .75s infinite; }
