.success-error {
  width: 100px;
  display: block;
  margin: 40px auto 0; }

.path {
  stroke-dasharray: 1000;
  stroke-dashoffset: 0;

  &.circle {
    -webkit-animation: dash .9s ease-in-out;
    animation: dash .9s ease-in-out;
  }

  &.line {
    stroke-dashoffset: 1000;
    -webkit-animation: dash .9s .35s ease-in-out forwards;
    animation: dash .9s .35s ease-in-out forwards;
  }

  &.check {
    stroke-dashoffset: -100;
    -webkit-animation: dash-check .9s .35s ease-in-out forwards;
    animation: dash-check .9s .35s ease-in-out forwards;
  } }

.error {
  color: #D06079; }

.success {
  color: #73AF55; }

.status {
  text-align: center;
  margin: 20px 0 60px;
  font-size: 1.25em; }
