<% @title = "Verify with Security Device" %>

<div class="t-body">
  <h2>Verified as <%= @user.name %></h2>
  <p>Please enter this code in the command line</p>
  <pre><%= @webauthn_otp %></pre>
</div>
