<% @title = t(".title") %>

<div class="flex items-center justify-center">
  <div class="max-w-lg w-full bg-white dark:bg-black border border-neutral-200 dark:border-neutral-800 rounded-xl shadow-md p-10 text-center">
    <%= icon_tag "check-circle", size: 16, class: "mx-auto mb-6 text-green-500" %>
    <h1 class="text-xl font-semibold text-neutral-900 dark:text-white mb-3"><%= t(".title") %></h1>
    <p class="text-b3 text-neutral-700 dark:text-neutral-300"><%= t(".close_browser") %></p>
  </div>
</div>
