<% @title = "API KEY REVOKED" %>
<% @sub_title = "Hi #{@api_key.user.handle}" %>

<!-- Body -->
<table width="100%" border="0" cellspacing="0" cellpadding="0" bgcolor="#ffffff">
  <tr>
    <td class="content-spacing" style="font-size:0pt; line-height:0pt; text-align:left" width="20"></td>
    <td>
      <table width="100%" border="0" cellspacing="0" cellpadding="0" class="spacer" style="font-size:0pt; line-height:0pt; text-align:center; width:100%; min-width:100%"><tr><td height="35" class="spacer" style="font-size:0pt; line-height:0pt; text-align:center; width:100%; min-width:100%">&nbsp;</td></tr></table>

      <div class="h3-1-center" style="color:#1e1e1e; font-family:Georgia, serif; min-width:auto !important; font-size:20px; line-height:26px;">
        <p>
          One of your API keys was revoked on rubygems.org.
        </p>
        <p>
          Name: <strong><%= @api_key.name %></strong>
          <br />
          Scope: <strong><%= @api_key.enabled_scopes.join(", ") %></strong>
        </p>
        <br/>
          <p>
            This API key was compromised and revoked by <a href="https://docs.github.com/en/code-security/secret-security/about-secret-scanning">GitHub Secret Scanning</a>.
            We automaticaly revoke api keys that are pushed to a public repository, as that can be accessed by anyone.
            <br />
            We have revoked that key right away.
             <br/>
            <a href="<%= @commit_url %>">Public commit url</a>
          </p>


          <%= render "compromised_instructions"  %>
      </div>

      <table width="100%" border="0" cellspacing="0" cellpadding="0" class="spacer" style="font-size:0pt; line-height:0pt; text-align:center; width:100%; min-width:100%"><tr><td height="30" class="spacer" style="font-size:0pt; line-height:0pt; text-align:center; width:100%; min-width:100%">&nbsp;</td></tr></table>

      <table width="100%" border="0" cellspacing="0" cellpadding="0" class="spacer" style="font-size:0pt; line-height:0pt; text-align:center; width:100%; min-width:100%"><tr><td height="35" class="spacer" style="font-size:0pt; line-height:0pt; text-align:center; width:100%; min-width:100%">&nbsp;</td></tr></table>

    </td>
    <td class="content-spacing" style="font-size:0pt; line-height:0pt; text-align:left" width="20"></td>
  </tr>
</table>
<!-- END Body -->
