<p> Hi <%= @user.handle %> </p>
<p>
  <%= t('.visit_link_instructions') %>
  <br />
</p>
  <p><%= link_to t('.confirmation_link'),
    update_email_confirmations_url(@user, token: @user.confirmation_token.html_safe),:class=>'button' %>
</p>
<p><%= t('.link_expiration_explanation') %></p>
