<% @title = "search" %>
<% if @gems %>
  <% @subtitle = "for <em>#{h(params[:query])}</em>" %>
  <p class="entries">
    <%= page_entries_info @gems, :entry_name => 'gem' %>
  </p>
  <% if @gems.present? %>
    <div class="gems border">
      <ol>
        <%= render @gems %>
      </ol>
    </div>
    <%= will_paginate @gems %>
  <% end %>
<% end %>
