- @title = "search"
- @subtitle =""
.grid_12
  - form_tag search_url, :method => :get do
    = label_tag :query
    = text_field_tag :query
    = submit_tag "Search"
  -if @gems
    %h3 Results
    .gems
      -@gems.each do |gem|
        =link_to gem, rubygem_path(gem)