@config "../../../config/tailwind.config.js";
@tailwind base;

@layer base {
  @font-face {
    font-family: "Titillium Web";
    font-style: normal;
    font-weight: 400;
    font-display: swap;
    src: url("/fonts/Titillium Web.woff2") format('woff2');
  }

}

@tailwind components;
@tailwind utilities;
