@media (max-width: 779px) {
  .post__link--posts-by-year {
    display: none; } }

.post__link--posts {
  margin-right: -80px;
  padding-top: 5px;
  padding-left: 6px;
  float: left;
  position: relative;
  height: 35px;
  width: 35px;
  border: 2px solid #c1c4ca;
  border-radius: 50%;
  font-size: 18px;
  color: #c1c4ca;
  transition-duration: 0.25s;
  transition-property: border-color; }
  @media (max-width: 779px) {
    .post__link--posts {
      top: -50px; } }
  @media (min-width: 780px) {
    .post__link--posts {
      top: 23px;
      left: -80px; } }
  .post__link--posts:before {
    transition-duration: 0.25s;
    transition-property: color; }
  .post__link--posts:focus, .post__link--posts:hover {
    border-color: #141c22; }
    .post__link--posts:focus:before, .post__link--posts:hover:before {
      color: #141c22; }
  .post__link--posts:focus {
    outline: none; }

.post__date, .post__date--s {
  color: #c1c4ca; }

.post__date--s {
  margin-bottom: 6px;
  font-size: 12px; }
  @media (max-width: 779px) {
    .post__date--s {
      margin-top: 50px; } }

.post__title {
  margin-bottom: 20px;
  padding-bottom: 38px;
  display: block;
  border-bottom: 5px solid #c1c4ca;
  font-size: 30px; }

.post__author--s {
  margin-bottom: 32px;
  font-size: 12px;
  font-weight: 800; }

.post__footer, .post--help__footer {
  overflow: auto; }

.post__footer {
  margin-top: 50px;
  padding-top: 44px;
  border-top: 5px solid #c1c4ca; }

.post--help__footer {
  margin-top: 30px;
  margin-bottom: 40px;
  padding-bottom: 30px;
  border-bottom: 1px solid #c1c4ca; }

.post__avatar, .post__comment__avatar {
  height: 70px;
  width: 70px;
  border-radius: 50%; }
  @media (min-width: 460px) {
    .post__avatar, .post__comment__avatar {
      float: left; } }

@media (max-width: 459px) {
  .post__comment__avatar {
    display: none; } }

.help__post__author-wrap, .blog__post__author-wrap {
  margin-top: 4px;
  font-size: 18px;
  line-height: 1.33; }
  @media (min-width: 460px) {
    .help__post__author-wrap, .blog__post__author-wrap {
      margin-left: 30px;
      padding-left: 30px;
      float: left;
      border-left: 1px solid #c1c4ca; } }

.help__post__author-wrap {
  padding-top: 10px;
  padding-bottom: 10px; }

.blog__post__author-wrap {
  padding-top: 21px;
  padding-bottom: 21px; }

.post__comments {
  margin-bottom: 45px;
  overflow: auto;
  border-bottom: 5px solid #f8f8f9; }

.post__comment__header {
  margin-bottom: 45px;
  padding: 10px 14px;
  overflow: auto;
  clear: both;
  border-left: 10px solid #fa3c29;
  background-color: #141c22; }

.post__comment__heading, .post__comment__desc {
  font-size: 12px;
  color: white; }

.post__comment__heading {
  font-weight: 300;
  line-height: 1.33; }
  @media (min-width: 640px) and (max-width: 779px) {
    .post__comment__heading {
      float: left; } }
  @media (min-width: 980px) {
    .post__comment__heading {
      float: left; } }

.post__comment__heading__link {
  font-weight: 800;
  color: white; }

.post__comment__desc {
  font-weight: 800;
  text-transform: uppercase; }
  @media (max-width: 639px) {
    .post__comment__desc {
      margin-top: 8px;
      display: inline-block; } }
  @media (min-width: 640px) and (max-width: 779px) {
    .post__comment__desc {
      float: right; } }
  @media (min-width: 780px) and (max-width: 979px) {
    .post__comment__desc {
      margin-top: 8px;
      display: inline-block; } }
  @media (min-width: 980px) {
    .post__comment__desc {
      float: right; } }

.post__comment {
  margin-bottom: 90px; }
  @media (min-width: 460px) {
    .post__comment {
      float: right;
      width: calc(100% - 100px); } }
  .post__comment p {
    margin-bottom: 16px; }

.post__helpful {
  margin-bottom: 30px; }

.post__helpful--yes, .post__helpful--no {
  margin-right: 10px;
  display: inline-block;
  height: 44px;
  width: 44px;
  border-radius: 22px;
  font-size: 24px;
  line-height: 44px;
  text-align: center;
  color: white;
  transition-duration: 0.25s;
  transition-property: background-color; }

.post__helpful--yes {
  background-color: #4fcc9c; }
  .post__helpful--yes:hover {
    background-color: #77d7b2; }

.post__helpful--no {
  background-color: #fa3c29; }
  .post__helpful--no:hover {
    background-color: #fb695b; }

.post__meta__heading {
  font-weight: 500;
  font-size: 15px;
  line-height: 1.66; }

.post__meta {
  margin-bottom: 24px;
  line-height: 1.66;
  color: #c1c4ca; }

@media (max-width: 779px) {
  .post__aside {
    margin-top: 45px; } }

.post__aside__watching {
  margin-bottom: 30px;
  padding-bottom: 10px;
  border-bottom: 5px solid #c1c4ca;
  font-weight: 800;
  font-size: 12px;
  text-transform: uppercase; }

.post__aside__category {
  margin-bottom: 24px;
  max-width: 320px;
  text-transform: uppercase;
  color: #c1c4ca; }
  .post__aside__category:before {
    float: right;
    color: #4fcc9c; }

.post__aside__heading {
  margin-bottom: 8px;
  font-weight: 400;
  line-height: 1.5;
  text-transform: uppercase; }

.post__aside__desc {
  margin-bottom: 24px;
  padding-bottom: 24px;
  display: block;
  border-bottom: 1px solid #c1c4ca;
  line-height: 1.66;
  color: #c1c4ca; }

.post__aside__permissions__heading, .post__aside__permissions__desc {
  font-size: 12px; }

.post__aside__permissions__heading {
  margin-bottom: 12px;
  padding-top: 20px;
  border-top: 5px solid #c1c4ca;
  text-transform: uppercase; }

.post__aside__permissions__desc {
  margin-bottom: 18px;
  display: block;
  padding-bottom: 16px;
  border-bottom: 1px solid #c1c4ca;
  color: #c1c4ca; }

.post__aside__rss {
  display: block;
  color: #141c22;
  transition-duration: 0.25s;
  transition-property: color; }
  .post__aside__rss:hover {
    color: #fa3c29; }
  .post__aside__rss:before {
    font-size: 24px; }
