<div class="l-flex l-mb-4 l-items-center l-gap-2">
  <div class="t-text"><%= webauthn_credential.nickname %></div>
  <%= button_to t(".delete"), webauthn_credential, method: :delete, class: "form__submit form__submit--small" %>
</div>
