<ul class="major">
  <li><%= link_to t('.footer.help'), t(:help_url) %></li>
  <li><%= link_to t('.footer.guides'), "http://guides.rubygems.org"  %></li>
  <li><%= link_to t('.footer.blog'), "http://blog.rubygems.org" %></li>
  <li><%= link_to t('.footer.contribute'), "http://guides.rubygems.org/contributing/"  %></li>
</ul>
