.started.grid_8
  %ul
    %li.red
      %span ready:
      %code gem install gemcutter
    %li.yellow
      %span set:
      %code gem upgrade
    %li.green
      %span go:
      %code gem push yourgem-0.0.1.gem
.grid_4
  .count= number_with_delimiter(@count)
  .what gems indexed since june 2009
.clear
.list.grid_4
  %h3 Updated Gems
  %ul
    %li jekyll (0.5.1)
    %li haml (0.1.2)
    %li roodi (1.2.3)
    %li beardo (0.0.1)
    %li jeweler (1.0.42)
.list.grid_4
  %h3 New Gems
  %ul
    %li awesome (0.0.1)
    %li rstuff (1.0.0)
    %li dbhelper (4.1.8)
    %li acts_as_fu (1.0.0)
    %li RTrickery (0.0.0)
.list.grid_4
  %h3 Most Downloads
  %ul
    %li rails (12,147)
    %li instantrails (9,234)
    %li rmagick (3,403)
    %li rake (2,302)
    %li net/ssh (2,128)
