!!!
%html
  %head
    %link{:rel => "shortcut icon", :href => "/favicon.ico", :type => "image/x-icon"}
    %title= "gemcutter: kickass gem hosting"
    %link{:rel => "stylesheet", :type => "text/css", :media => "all", :href => "/css/reset.css"}
    %link{:rel => "stylesheet", :type => "text/css", :media => "all", :href => "/css/960.css"}
    %link{:rel => "stylesheet", :type => "text/css", :media => "all", :href => "/css/text.css"}
    %link{:rel => "stylesheet", :type => "text/css", :media => "all", :href => "/css/style.css"}
  %body
    .container_12
      .wrap
        .header.grid_12
          %h1 gemcutter
          %h2 kickass gem hosting
          .buttons
            .account
              %a{:href => "/"} login
              %a{:href => "/"} register
            .search
              %input{:type => "text", :value => "search"}
        =yield
        .grid_3
          %a.footer{:href => "/"} Migrate
        .grid_3
          %a.footer{:href => "/"} API
        .grid_3
          %a.footer{:href => "/"} Help
        .grid_3
          %a.footer{:href => "/"} Contribute
