!!!
%html
  %head
    %link{:rel => "shortcut icon", :href => "/favicon.ico", :type => "image/x-icon"}
    %title= "gemcutter: kickass gem hosting"
    %link{:rel => "stylesheet", :type => "text/css", :media => "all", :href => "/css/reset.css"}
    %link{:rel => "stylesheet", :type => "text/css", :media => "all", :href => "/css/960.css"}
    %link{:rel => "stylesheet", :type => "text/css", :media => "all", :href => "/css/text.css"}
    %link{:rel => "stylesheet", :type => "text/css", :media => "all", :href => "/css/style.css"}
  %body
    .container_12
      .wrap
        .header.grid_12
          %h1 gemcutter
          %h2 kickass gem hosting
          .buttons
            .account
              %a{:href => "/"} login
              %a{:href => "/"} register
            .search
              %input{:type => "text", :value => "search"}
        .latest.grid_4
          %h3 Latest Gems
          %ul
            %li jekyll (0.5.1)
            %li haml (0.1.2)
            %li roodi (1.2.3)
            %li beardo (0.0.1)
            %li jeweler (1.0.42)
        .started.grid_8
          %h3 Get Started
          %ul
            %li.red
              %span ready:
              %code gem install gemcutter
            %li.yellow
              %span set:
              %code gem cut
            %li.green
              %span go:
              %code gem push yourgem-0.0.1.gem
        .clear
        .grid_12
          .count 23,493
          .what gems indexed since june 2009
        .grid_3
          %h4 Migrate
        .grid_3
          %h4 API
        .grid_3
          %h4 FAQ
        .grid_3
          %h4 Code
        .footer.grid_12
          FOOOOTER
