!!!
%html
  %head
    %link{:rel => "shortcut icon", :href => "/favicon.ico", :type => "image/x-icon"}
    %title= "gemcutter: kickass gem hosting"
    %link{:rel => "stylesheet", :type => "text/css", :media => "all", :href => "/css/reset.css"}
    %link{:rel => "stylesheet", :type => "text/css", :media => "all", :href => "/css/960.css"}
    %link{:rel => "stylesheet", :type => "text/css", :media => "all", :href => "/css/text.css"}
    %link{:rel => "stylesheet", :type => "text/css", :media => "all", :href => "/css/style.css"}
  %body
    .container_12
      .wrap
        .header.grid_12
          %h1
            %a{:href => ""}= @title || "gemcutter"
          %h2= @subtitle || "kickass gem hosting"
          .buttons
            %span.actions
              %a{:href => "/"} home
              %a{:href => "/gems"} list
              %a{:href => "/"} create
              %a{:href => "/"} migrate 
              %a{:href => "/"} search
            %span.account
              %a{:href => "/"} login
              %a{:href => "/"} register
        =yield
        .footer.grid_12
          %a.footer{:href => "/"} Status
          %a.footer{:href => "/"} API
          %a.footer{:href => "/"} Help
          %a.footer{:href => "/"} Contribute
