<% @title = "stats" %>
<% @subtitle = "#{t('.since')} 2009" %>

<div class="statistics clearfix">
  <div class="border">
    <%= t('.gem_count', :count => content_tag(:span, number_with_delimiter(@number_of_gems))).html_safe %>
  </div>

  <div class="border">
    <%= t('download_count', :count => content_tag(:span, number_with_delimiter(@number_of_downloads))).html_safe %>
  </div>

  <div class="border">
    <%= t('.user_count', :count => content_tag(:span, number_with_delimiter(@number_of_users))).html_safe %>
  </div>

  <div class="border chart">
    <%= most_downloaded_chart(@most_downloaded) %>
  </div>
</div>
