<% @title = "Stats" %>
<% @subtitle = "Since 2009" %>

<div class="stats">
  <h2 class="stat" data-icon="⟡">
    Total Gems
    <span class="stat__count"><%= @number_of_gems %></span>
  </h2>
  <h2 class="stat" data-icon="☺">
    Total Users
    <span class="stat__count"><%= @number_of_users %></span>
  </h2>
  <h2 class="stat" data-icon="⌄">
    Total Downloads
    <span class="stat__count"><%= @number_of_downloads %></span>
  </h2>
</div>

<h2 class="stats__graph__heading">All Time Most Downloaded</h2>

<%= most_downloaded_chart(@most_downloaded) %>

<div class="stats__graph__gem">
    <h3 class="stats__graph__gem__name">rake</h3>
    <div class="stats__graph__gem__meter-wrap">
      <meter class="stats__graph__gem__meter" max="65000000" value="60004092"></meter>
      <span class="stats__graph__gem__count" data-name="rake">60,004,092</span>
    </div>
  </div>

  <div class="stats__graph__gem">
    <h3 class="stats__graph__gem__name">rack</h3>
    <div class="stats__graph__gem__meter-wrap">
      <meter class="stats__graph__gem__meter" max="65000000" value="58323024"></meter>
      <span class="stats__graph__gem__count" data-name="rack">58,323,024</span>
    </div>
  </div>

  <div class="stats__graph__gem">
    <h3 class="stats__graph__gem__name">thor</h3>
    <div class="stats__graph__gem__meter-wrap">
      <meter class="stats__graph__gem__meter" max="65000000" value="54500073"></meter>
      <span class="stats__graph__gem__count" data-name="thor">54,500,073</span>
    </div>
  </div>

  <div class="stats__graph__gem">
    <h3 class="stats__graph__gem__name">activesupport</h3>
    <div class="stats__graph__gem__meter-wrap">
      <meter class="stats__graph__gem__meter" max="65000000" value="50605123"></meter>
      <span class="stats__graph__gem__count" data-name="activesupport">50,605,123</span>
    </div>
  </div>

  <div class="stats__graph__gem">
    <h3 class="stats__graph__gem__name">json</h3>
    <div class="stats__graph__gem__meter-wrap">
      <meter class="stats__graph__gem__meter" max="65000000" value="47905378"></meter>
      <span class="stats__graph__gem__count" data-name="json">47,905,378</span>
    </div>
  </div>

  <div class="stats__graph__gem">
    <h3 class="stats__graph__gem__name">rails</h3>
    <div class="stats__graph__gem__meter-wrap">
      <meter class="stats__graph__gem__meter" max="65000000" value="47324092"></meter>
      <span class="stats__graph__gem__count" data-name="rails">47,324,092</span>
    </div>
  </div>

  <div class="stats__graph__gem">
    <h3 class="stats__graph__gem__name">activerecord</h3>
    <div class="stats__graph__gem__meter-wrap">
      <meter class="stats__graph__gem__meter" max="65000000" value="37323024"></meter>
      <span class="stats__graph__gem__count" data-name="activerecord">37,323,024</span>
    </div>
  </div>

  <div class="stats__graph__gem">
    <h3 class="stats__graph__gem__name">actionpack</h3>
    <div class="stats__graph__gem__meter-wrap">
      <meter class="stats__graph__gem__meter" max="65000000" value="34800073"></meter>
      <span class="stats__graph__gem__count" data-name="actionpack">34,800,073</span>
    </div>
  </div>

  <div class="stats__graph__gem">
    <h3 class="stats__graph__gem__name">actionmailer</h3>
    <div class="stats__graph__gem__meter-wrap">
      <meter class="stats__graph__gem__meter" max="65000000" value="30705123"></meter>
      <span class="stats__graph__gem__count" data-name="actionmailer">30,705,123</span>
    </div>
  </div>

  <div class="stats__graph__gem">
    <h3 class="stats__graph__gem__name">activesource</h3>
    <div class="stats__graph__gem__meter-wrap">
      <meter class="stats__graph__gem__meter" max="65000000" value="22905378"></meter>
      <span class="stats__graph__gem__count" data-name="activesource">22,905,378</span>
    </div>
  </div>
</div>
