<% if ownership_call.rubygem.owned_by?(current_user) %>
  <div><%= button_to t("ownership_calls.close"), close_rubygem_ownership_calls_path(ownership_call.rubygem), method: :patch, class: "form__submit form__submit--medium" %></div>
<% end %>
