name: Docker
on:
  pull_request:
  push:
    branches:
      - master
      - oidc-api-tokens
permissions:
  contents: read

jobs:
  build:
    name: Docker build (and optional push)
    runs-on: ubuntu-24.04
    env:
      RUBYGEMS_VERSION: "3.6.8"
      RUBY_VERSION: "3.4.3"
    permissions:
      id-token: write
    steps:
      - uses: actions/checkout@11bd71901bbe5b1630ceea73d27597364c9af683 # v4.2.2
        with:
          persist-credentials: false
      - name: Set up Docker Buildx
        id: buildx
        uses: docker/setup-buildx-action@b5ca514318bd6ebac0fb2aedd5d36ec1b5c232a2 # master
      - name: Cache Docker layers
        uses: actions/cache@5a3ec84eff668545956fd18022155c47e93e2684 # v4.2.3
        with:
          path: /tmp/.buildx-cache
          key: ${{ runner.os }}-rubygems-${{ hashFiles('**/Gemfile.lock') }}
          restore-keys: |
            ${{ runner.os }}-rubygems-org
      - name: Install and start services (needed for image test)
        run: docker compose up -d
      - name: Configure AWS credentials from Production account
        uses: aws-actions/configure-aws-credentials@b47578312673ae6fa5b5096b330d9fbac3d116df # v4.2.1
        if: github.secret_source != 'None'
        with:
          role-to-assume: arn:aws:iam::048268392960:role/rubygems-ecr-pusher
          aws-region: us-west-2
      - name: Login to Amazon ECR
        if: github.secret_source != 'None'
        uses: aws-actions/amazon-ecr-login@062b18b96a7aff071d4dc91bc00c4c1a7945b076 # v2.0.1
      - name: build, test and optionally push docker image
        run: ./script/build_docker.sh
        env:
          BUNDLE_PACKAGER__DEV: ${{ secrets.BUNDLE_PACKAGER__DEV }}
      # Temp fix
      # https://github.com/docker/build-push-action/issues/252
      # https://github.com/moby/buildkit/issues/1896
      - name: Move cache
        run: |
          rm -rf /tmp/.buildx-cache
          mv /tmp/.buildx-cache-new /tmp/.buildx-cache
