name: Tests
on:
  pull_request:
  push:
    branches:
      - master
permissions:
  contents: read

jobs:
  # This is umbrella job for all tests needed to pass to make it simpler
  # to maintain GitHub Actions status required checks since job names and
  # amount change over the time and it is easier to maintian having just
  # this umbrella check set as required.
  status_check:
    name: All required tests passing check
    needs: [rails]
    runs-on: ubuntu-24.04
    if: always()
    steps:
      - run: /bin/${{ (needs.rails.result == 'success' || needs.rails.result == 'skipped') }}

  rails:
    strategy:
      fail-fast: false
      matrix:
        rubygems:
          - name: locked
            version: "3.6.9"
          - name: latest
            version: latest
        ruby_version: ["3.4.4"]
        tests:
          - name: general
            command: test
          - name: system
            command: test:system
        include:
          - rubygems: { name: latest, version: latest }
            ruby_version: "3.4.4"
            tests: { name: "avo without pro", command: "test test/*/avo" }
    name: Rails tests ${{ matrix.tests.name }} (RubyGems ${{ matrix.rubygems.name }}, Ruby ${{ matrix.ruby_version }})
    runs-on: ubuntu-22.04
    env:
      RUBYGEMS_VERSION: ${{ matrix.rubygems.version }}
      # Fail hard when Toxiproxy is not running to ensure all tests (even Toxiproxy optional ones) are passing
      REQUIRE_TOXIPROXY: true
      REQUIRE_AVO_PRO: ${{ github.secret_source != 'None' && matrix.tests.name != 'avo without pro' }}
      AVO_LICENSE_KEY: ${{ secrets.AVO_LICENSE_KEY }}
      BUNDLE_PACKAGER__DEV: ${{ secrets.BUNDLE_PACKAGER__DEV }}
    steps:
      - uses: actions/checkout@08c6903cd8c0fde910a37f88322edcfb5dd907a8 # v5.0.0
        with:
          persist-credentials: false

      - name: Setup rubygems.org
        uses: ./.github/actions/setup-rubygems.org
        with:
          ruby-version: ${{ matrix.ruby_version }}
          rubygems-version: ${{ matrix.rubygems.version }}
          install-avo-pro: ${{ matrix.tests.name != 'avo without pro' }}

      - name: Tests ${{ matrix.tests.name }}
        id: test-all
        run: bin/rails ${{ matrix.tests.command }}

      - name: Save capybara screenshots
        if: ${{ failure() && steps.test-all.outcome == 'failure' }}
        uses: actions/upload-artifact@ea165f8d65b6e75b540449e92b4886f43607fa02 # v4.6.2
        with:
          name: capybara-screenshots-${{ matrix.tests.name }}-${{ matrix.rubygems.name }}
          path: tmp/capybara
          if-no-files-found: ignore

      - name: Upload coverage to Codecov
        if: matrix.rubygems.name == 'locked' && (success() || failure())
        uses: codecov/codecov-action@fdcc8476540edceab3de004e990f80d881c6cc00 # v5.5.0
        env:
          CODECOV_TOKEN: ${{ secrets.CODECOV_TOKEN }}
