<% if signed_in? %>
  <a href="<%= profile_path(current_user.display_id) %>" class="header__nav-link mobile__header__nav-link">
    <span><%= current_user.name %></span>
    <%= gravatar 80, "user_gravatar" %>
  </a>
<% end %>
  