<!DOCTYPE html>
<html lang="en">
  <head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
    <link rel="stylesheet" href="/stylesheets/reset.css" type="text/css" media="screen">
    <link rel="stylesheet" href="/stylesheets/960.css" type="text/css" media="screen">
    <link rel="stylesheet" href="/stylesheets/screen.css" type="text/css" media="screen">
    <title>Gemcutter</title>
  </head>
  <body>
    <div class="container_12">
      <div class="prefix_1 grid_2 header">
        <h1><%= link_to "Gemcutter", root_url %></h1>
      </div>
      <div class="grid_8 suffix_1 nav">
        <ul>
          <li><%= link_to "sign in", sign_in_url %></li>
          <li><%= link_to "sign up", sign_up_url %></li>
        </ul>
        <form action="design.html">
          <div class="text_field">
            <input type="text" name="search" value="Search gems&hellip;" />
          </div>
          <div class="submit_field">
            <input type="submit" name="submit" value="GO" />
          </div>
        </form>
      </div>
      <div class="prefix_1 grid_10 suffix_1 section">
        <div class="seller">
          <div class="count">
            <strong>1000 gems</strong>
            cut since july 2009
          </div>
          <div class="blurb">
            <strong>Welcome to the next generation of RubyGem hosts.</strong> Find your gems easier, publish them faster, and have fun doing it.
          </div>
        </div>
        <div class="info">
          <ol class="instructions">
            <li>
              <strong>Ready</strong>
              &raquo;
              <span>gem install gemcutter</span>
            </li>
            <li>
              <strong>Set</strong>
              &raquo;
              <span>gem tumble</span>
            </li>
            <li>
              <strong>Go</strong>
              &raquo;
              <span>gem push yourgem-0.0.1.gem</span>
            </li>
          </ol>
        </div>
      </div>
      <div class="grid_12 footer">
      </div>
    </div>
    <!--
    <div class="section">
      <p>
        <strong>Lorem ipsum dolor sit amet, consectetur adipiscing elit.</strong> Nulla tellus ante, semper imperdiet accumsan vehicula, euismod ut ligula. Quisque felis velit, lobortis in suscipit sed, suscipit ut sapien. Donec non eros et nisl condimentum iaculis. Fusce ac elementum justo.
      </p>
      <div class="info">
        <ol class="instructions">
          <li>
            <strong>Ready</strong>
            &raquo;
            <span>gem install gemcutter</span>
          </li>
          <li>
            <strong>Set</strong>            
            &raquo;
            <span>gem tumble</span>
          </li>
          <li>
            <strong>Go</strong>
            &raquo;
            <span>gem push yourgem-0.0.1.gem</span>
          </li>
        </ol>
        <p>
          <strong>Lorem ipsum dolor sit amet, consectetur adipiscing elit.</strong> Nulla tellus ante, semper imperdiet accumsan vehicula, euismod ut ligula. Quisque felis velit, lobortis in suscipit sed, suscipit ut sapien. Donec non eros et nisl condimentum iaculis. Fusce ac elementum justo.
        </p>
      </div>
    </div>
    <div class="footer">
    </div>
  </body>
  -->
</html>
<!--
!!!
%html
  %head
    %link{:rel => "shortcut icon", :href => "/favicon.ico", :type => "image/x-icon"}
    %title= page_title
    =stylesheet_link_tag("reset", "960", "text", "application")
  %body
    -flash.each do |name, msg|
      %div{:id => "flash_#{name}"}= msg
    .container_12
      .wrap
        .header.grid_12
          %h1
            %a{:href => ""}= @title || title
          %h2= @subtitle || subtitle
          .buttons
            %span.actions
              =link_to "home", root_url
              =link_to "list", rubygems_url
              =link_to "search", search_url
              =link_to "create", "http://wiki.github.com/qrush/gemcutter/create"
              =link_to "migrate", "http://wiki.github.com/qrush/gemcutter/migrate"
            %span.account
              -if signed_in?
                =link_to "my gems", mine_rubygems_url
                =link_to "logout", sign_out_path
              -else
                =link_to "login", sign_in_path
                =link_to "register", sign_up_path
        =yield
        .footer.grid_12
          .info
            %a.footer{:href => "http://groups.google.com/group/gemcutter"} Discuss
            %a.footer{:href => "http://github.com/qrush/gemcutter"} Code
            %a.footer{:href => "http://twitter.com/rubygemcutter"} Status
            %a.footer{:href => "http://wiki.github.com/qrush/gemcutter/api"} API
          -if @title
            .watermark
              %a{:href => "/"}= title
              %abbr= subtitle
    =javascript_include_tag("jquery", "application")
-->
